#myStore {
	padding		:0 5em;
	position	: relative;
	z-index		: 1;
	background-color	: #fff;
	overflow	: auto;
}
#myStore>ul {
	list-style	: none;
	margin		: 0;
	padding		: 0;
	text-align	: center;
	
	column-width		: 30em;
	-moz-column-width	: 30em;
	-o-column-width		: 30em;
	-khtml-column-width	: 30em;
	
	column-gap			: 3em;
	-moz-column-gap		: 3em;
	-o-column-gap		: 3em;
	-khtml-column-gap	: 3em;
	
	column-rule			: solid 1px #000;
	-moz-column-rule	: solid 1px #000;
	-o-column-rule		: solid 1px #000;
	-khtml-column-rule	: solid 1px #000;
}
#myStore>ul>li {
    display			: inline-block;	/*permet de simuler break-inside:avoid*/
    width			: 30em;
	margin			: 0;
	margin-bottom	: 2em;
	padding			: 0;
	text-align		: left;
	border-bottom	: 1px solid;
}
#myStore>ul>li>img {
    width	: 48px;
    height	: 48px;
    float	: left;
    margin	: 0.9ex;
}
#myStore ul li p:empty {
    display: none;
}
#myStore div.grade {
	position			: relative;
	clear				: left;
	width				: 10.909em;
	margin-bottom		: 1.5em;
	background-image	: url("img/star.png");
	background-size			: auto 100%;
	-moz-background-size	: auto 100%;
	-o-background-size		: auto 100%;
	-khtml-background-size	: auto 100%;
}
#myStore div.grade div.cursor ,
#myStore div.grade:hover div.cursor:hover {
	height				: 2.1818em;
	background-color	: #fd0;
	position			: relative;
	z-index				: -1;
}
#myStore div.grade:hover div.cursor {
	background-color	: #fff;
	background-color	: transparent;
}/**/
#myStore div.grade var {
	display		: block;
	position	: absolute;
	bottom		: -1.5em;
	right		: -1em;
}
#myStore div.grade span.text {
	display		: none;
}
#myStore div.grade ul {
	position	: absolute;
	top			: 0;
	left		: 0;
	list-style	: none;
	margin		: 0;
	padding		: 0;
}
#myStore div.grade ul li {
	display		: block;
	margin		: 0;
	padding		: 0;
	float		: left;
}
#myStore div.grade ul li a {
	display		: block;
	width		: 2.1818em;
	height		: 2.1818em;
}
#myStore div.grade ul li a div.cursor {
	display		: none;
	position	: absolute;
	left		: 0;
}
#myStore div.grade ul li a:hover div.cursor {
	display				: block;
	background-color	: #fd0;
}