html,body,.ui-page {
	height: 100%;
	color: #555;
	background-image: url("img/background.jpg");
	background-size: 100% 100%;
}

.wrapper {
	margin: 0 auto -113px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.footer {
	height: 85px;
	text-align: center;
}

.footer img {
	max-height: 35px;
	max-width: 80px;
	vertical-align: middle;
}

.push {
	height: 85px;
}

div.ui-slider {
	width: 150px;
}

/*input.ui-slider-input {
	display: none;
}*/
.ui-controlgroup-last {
	vertical-align: top;
}

.ui-li-link-alt .ui-btn {
	margin-top: -14px;
}

.ui-select {
	width: 100px;
}

.ui-li {
	padding-top: 1px;
	padding-bottom: 1px;
}

input.ui-input-text,textarea.ui-input-text {
	width: 98%;
}

#headerSearch .ui-slider-switch {
	left: 5px;
	position: absolute;
	width: 150px;
}

#publishForm .ui-slider-switch {
	width: 30%;
}


.ui-body-d,
.ui-overlay-d {
	border: 1px solid 		#d7e9ef ;
	color: 					#222222 ;
	text-shadow: 0  1px  0  #fff ;
	background: 			#fff ;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fafaff ), to( #f5f5ff )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #fafaff , #f5f5ff ); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #fafaff , #f5f5ff ); /* FF3.6 */
	background-image:     -ms-linear-gradient( #fafaff , #f5f5ff ); /* IE10 */
	background-image:      -o-linear-gradient( #fafaff , #f5f5ff ); /* Opera 11.10+ */
	background-image:         linear-gradient( #fafaff , #f5f5ff );
}

/* */


.ui-btn-up-i {
	border: 1px solid 		#044062;
	background: 			#396b9e;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0  1px  1px  #194b7e ;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #6490C5 ), to( #5070B8 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #6490C5, #5070B8  ); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #6490C5, #5070B8 ); /* FF3.6 */
	background-image:     -ms-linear-gradient( #6490C5, #5070B8); /* IE10 */
	background-image:      -o-linear-gradient( #6490C5, #5070B8 ); /* Opera 11.10+ */
	background-image:         linear-gradient( #6490C5, #5070B8 );
}

.ui-btn-up-i a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/;
}
.ui-btn-hover-i {
	border: 1px solid 		#044062 /*{b-bhover-border}*/;
	background: 			#396b9e /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{b-bhover-color}*/;
	text-shadow: 0  1px  1px  #194b7e ;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #74a0d5 ), to( #6080c8 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #74a0d5, #6080c8 ); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #74a0d5, #6080c8  ); /* FF3.6 */
	background-image:     -ms-linear-gradient( #74a0d5, #6080c8 ); /* IE10 */
	background-image:      -o-linear-gradient( #74a0d5, #6080c8 ); /* Opera 11.10+ */
	background-image:         linear-gradient( #74a0d5, #6080c8  );
}
.ui-btn-hover-i a.ui-link-inherit {
	color: 					#fff /*{b-bhover-color}*/;
}
.ui-btn-down-i {
	border: 1px solid 		#044062;
	background: 			#396b9e;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0  1px  1px  #194b7e ;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5480b5 ), to( #4060a8 )); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #5480b5, #4060a8  ); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #5480b5, #4060a8 ); /* FF3.6 */
	background-image:     -ms-linear-gradient( #5480b5, #4060a8); /* IE10 */
	background-image:      -o-linear-gradient( #5480b5, #4060a8 ); /* Opera 11.10+ */
	background-image:         linear-gradient( #5480b5, #4060a8 );
}
.ui-btn-down-i a.ui-link-inherit {
	color: 					#fff /*{b-bdown-color}*/;
}
.ui-btn-up-i,
.ui-btn-hover-i,
.ui-btn-down-i {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}

