html,body,.ui-page {
	height: 100%;
	color: #222222;
}

.wrapper {
	margin: 0 auto -120px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.footer {
	height: 118px;
}

.push {
	height: 118px;
}

.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}

div.ui-slider {
	width: 150px;
}

/*input.ui-slider-input {
	display: none;
}*/
.ui-controlgroup-last {
	vertical-align: top;
}

.ui-li-link-alt .ui-btn {
	margin-top: -14px;
}

.ui-select {
	width: 100px;
}

.ui-li {
	padding-top: 1px;
	padding-bottom: 1px;
}

input.ui-input-text,textarea.ui-input-text {
	width: 98%;
}

#headerSearch .ui-slider-switch {
	left: 5px;
	position: absolute;
	width: 150px;
}

#publishForm .ui-slider-switch {
	width: 30%;
}



.ui-body-d,
.ui-overlay-d {
	border: 1px solid 		#F7C9c2 /*{e-body-border}*/;
	color: 					#222222 /*{e-body-color}*/;
	text-shadow: 0 /*{e-body-shadow-x}*/ 1px /*{e-body-shadow-y}*/ 0 /*{e-body-shadow-radius}*/ 	#fff /*{e-body-shadow-color}*/;
	background: 			#fff /*{e-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fafaff /*{e-body-background-start}*/), to( #f5f5ff /*{e-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #fafaff /*{e-body-background-start}*/, #f5f5ff /*{e-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #fafaff /*{e-body-background-start}*/, #f5f5ff /*{e-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #fafaff /*{e-body-background-start}*/, #f5f5ff /*{e-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #fafaff /*{e-body-background-start}*/, #f5f5ff /*{e-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #fafaff /*{e-body-background-start}*/, #f5f5ff /*{e-body-background-end}*/);
}


