.ui-page {
 	background : none;
 	background-color : black;
	color: white;
	text-shadow: none;
}

.mymem-profile-grid {
	width : 100%;
	text-align : center;
}

.mymem-profile-block-a {
	width : 20%;
	display: inline-block;
	vertical-align : middle;
	text-align : left;
	line-height : 2em;
}

.mymem-profile-block-b {
	width : 70%;
	display: inline-block;
	vertical-align : middle;
	text-align : left;
}

.ui-btn-inner { 
  white-space: normal !important; 
}



#myMap {
	top:  0px;
	left:0px;
	width: 100%;
	height: 300px;
	padding: 0;
	border: thin black solid;
}

#itineraire{
	text-align: left;
}

#steps {
	position: absolute;
	top: 50px;
	width: 100%;
	text-align: center;
	display: none;
}