<?xml version="1.0" encoding="UTF-8"?>
<!-- Configuration of the data storage layer of myMed -->
<!-- Change the 127.0.0.1 field to the IP address of the actual machine  -->
<node>
	<backend>
		<!-- Cloud Info -->
		<cassandra>
			<ListenAddress>127.0.0.1</ListenAddress>
			<!-- See the Cassandra configuration file at ../protocols/cassandra/cassandra/conf/cassandra.yaml -->
			<StoragePort>4200</StoragePort>
			<ThriftAddress>127.0.0.1</ThriftAddress>
			<ThriftPort>4201</ThriftPort>
		</cassandra>
		<!-- P2P Info -->
		<synapse address="127.0.0.1" port="0">
			<chord>
				<ListenAddress>127.0.0.1</ListenAddress>
				<!-- 0 means random free port number -->
				<StoragePort>0</StoragePort>
			</chord>
			<kad>
				<ListenAddress>127.0.0.1</ListenAddress>
				<!-- 0 means random free port number -->
				<StoragePort>0</StoragePort>
			</kad>
		</synapse>
	</backend>
</node>