*.log

*.class
*~

.project
.settings
.classpath
.fbprefs
.pmd
.checkstyle

.DS_Store

*.lastmodified
revision.location
bundle.jar

./frontend/.buildpath
*config.xml
coverage.ec

backend/src/com/mymed/tests/results/
