*.log

*.class
*~

#.project
#.settings
#.classpath
.fbprefs
.pmd
.checkstyle
.buildpath

.DS_Store
xcuserdata

*.lastmodified
revision.location
bundle.jar

./frontend/.buildpath
*config.xml
coverage.ec
build
backend/build
backend/src/com/mymed/tests/lib/
backend/src/com/mymed/tests/results/
*general.properties

*.mo
*.po

.buildpath
firelogger.php
