@import "../css3init.less";
body ,html {
	overflow	: visible;
}
.mobile_popup {
	.transition-duration(350ms);
	.transition-property(all);
	.transition-timing-function(ease-in-out);
	.transform-origin(50% 50%);
	.transform(scale(0));
	opacity		: 0;
}
.mobile_popup.mobile_open {
	.transform(scale(1));
	opacity: 1;
}
 div.mobile_popup_close {
	border		: 0.3ex solid;
	color		: #222;
	font-weight	: bold;
	height		: 1.5em;
	text-align	: center;
	width		: 1.5em;
	font-family	: sans-serif;
	cursor		: pointer;
	.box-sizing		(border-box;
	.border-radius	(0.75em);
	.box-shadow		(2px 2px 2px rgba(0,0,0,0.5), 2px 2px 2px rgba(0,0,0,0.5) inset);
	.text-shadow	(2px, 2px, 2px, rgba(0,0,0,0.5));
}
.mobile_popup_close:hover {
	color: #444;
	.box-shadow		(1px 1px 1px rgba(0,0,0,0.5), 1px 1px 1px rgba(0,0,0,0.5) inset);
	.text-shadow	(1px, 1px, 1px, rgba(0,0,0,0.5));
}
#header #login div.list div.mobile_popup_close:before {
	content	: "X";
}
.mobile_submenu {/*
	.transition-duration(350ms);
	.transition-property(all);
	.transition-timing-function(ease-in-out);
	.transform-origin(50% 50%);*/
	//.transform(scale(0));
	display	: none;
}
.mobile_popup.mobile_open {
	//.transform(scale(1));
	display	: block;
}
