.ui-page {
 	background-image: url("../img/background.png");
 	/** the rest is in system/css/common.css **/
}

.myScreenshot {
	display: none;
	position: relative;
	width: 250px;
	height: 400px;
}


.ui-btn-text img {
	position: absolute;
}

/*.ui-link-inherit {
	position: relative;
	left: 70px;
	height: 40px;
} 
*/
/*.ui-icon img {
	position: absolute;
	right:-5px;
	top:-5px;
}*/

.tabMask {
	position: relative;
	height: 80px;	
}
