.oauth_small_btn {
	background: white url('/system/img/oauth-logos.png');
	width: 24px;
	height: 24px;
	border: 2px solid #DDD;
	border-right: 2px solid #CCC;
	border-bottom: 2px solid #CCC;
	margin: 3px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 2px 2px 4px #ddd;
	-moz-box-shadow: 2px 2px 4px #ddd;
	-webkit-box-shadow: 2px 2px 4px #ddd;
	text-decoration: none;
	cursor: pointer;
}

.oauth_small_btn:hover {
	border-color: #888;
}

.ui-li { /* mini li */
	padding-top: 1px;
	padding-bottom: 1px;
}

.myScreenshot {
	display: none;
	position: relative;
	width: 250px;
	height: 400px;
}


.ui-btn-text img {
	position: absolute;
}

.ui-link-inherit {
	position: relative;
	left: 70px;
	height: 40px;
} 

/*.ui-icon img {
	position: absolute;
	right:-5px;
	top:-5px;
}*/

.tabMask {
	position: relative;
	height: 80px;	
}
