.text-placeholder {color: #AAA !important}
body {
	color:#333333;
	font-family:"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
	font-size:11px;
	background-color: white;
}

a {
	color: #051893;
	text-decoration: none;
}

a:LINK {
	color: #051893;
}

a:VISITED {
	color: #051893;
}

a:HOVER {
	color: red;
}
.title {
	font-size: 136.4%;
	color: #222C8A;
    font-family: "Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
    font-weight: bold;
}
.application {
	position:relative;
	width: 700px;
	height: 520px;
	border: thin black solid;
	background-color: #415b68;;
}

.appContainer{
	top:100px;
	color: white;
}

.appToolbar{
	position: absolute; 
	top: 463px;
	background-color: #364049;
}

.drag {
	position: relative;
	text-align: center;
	font-size: 11px;
}
div.table {
	display:table;
}
div.table>* {
	display:table-row;
}
div.table>*>* {
	display:table-cell;
}
a.mymed ,a.twitter ,a.guest ,a.google ,a.openid {
	display	: inline;
	display	: inline-block;
	border	: none 0;
	width	: 80px;
	height	: 24px;
	cursor	: pointer;
}
a.mymed:hover ,a.twitter:hover ,a.guest:hover ,a.google:hover ,a.openid:hover {
}
a.mymed span ,a.twitter span ,a.guest span ,a.google span  ,a.openid span {
	visibility:hidden;;
}
a.mymed {
	background-image:url("../img/loginwith_mymed.png");
}
a.twitter {
	background-image:url("../img/loginwith_twitter.png");
}
a.facebook {
	display	: inline;
	display	: inline-block;
	border:solid 1px #29447e;
	background:url("http://static.ak.fbcdn.net/rsrc.php/v1/zL/r/FGFbc80dUKj.png") no-repeat scroll 0 0 #29447E;
	background-position:-1px -189px;
	background-color:#637bad;
	cursor:pointer;
	padding:0;
	padding-left:21px;
	height:20px;
	
	color:#FFFFFF;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-weight:bold;
	font-size:11px;
}
a.facebook::-moz-focus-inner { 
    border: 0;
    padding: 0;
}
a.facebook span {
	border-top:1px solid #879ac0;
	display:block;
	height:100%;
	line-height:20px;
	padding:0 6px;
}
a.guest {
	background-image:url("../img/loginasguest");
}
a.google {
	background-image:url("../img/loginwith_google3.png");
}
a.openid {
	background-image:url("../img/loginwith_openid.png");
}
div.error {
	position	: absolute;
	top			: 0;
	text-align	: center;
	width		: 100%;
	z-index		: 9999;
}
div.error a {
	background-color	: red;
	color				: black;
	padding				: 0.5ex;
}
