html ,body {
	margin		: 0;
	height		: 100%;
	text-align	: center;
	overflow	: auto;
	position	: relative;
}
body>div {
	text-align	: left;
}

/******** DEBUG *******/
#debug {
	position: relative; 
	top: 50px; 
	width:600px; 
	height:300px; 
	padding: 10px;
	background-color: black; 
	color: #5fff2e; 
	font-size:15px;
	font-weight:bold;
	opacity:0.8;
	overflow: auto;
	border: medium black solid; 
}

/******* HEADER *******/
#header {
	border-bottom	: solid 1px #B6C5FF;
	position		: relative;
	margin			: 1.4ex;
	text-align		: left;
	padding-left	: 32px;
}
#header h1 {
	font-size	: inherit;
	font-weight	: inherit;
}
#header h1:after {
	content	: " :";
}
#header h1 ,#header ul {
	display		: inline;
	margin:0;
	padding:0;
}
#header ul li {
	display		: inline;
	list-style	: none;
}
/******* Connexion ****/
#header div.connexion {
	position	: absolute;
	top			: 0;
	right		: 0;
	text-align	: right;
	z-index		: 1;
}
#header div.connexion form.logout ,
#header div.connexion form.logout div {
	display		: inline;
	position	: static;
}
#header div.connexion form.logout div input {
	display		: inline;
	border		: none 0;
	padding		: 0;
	font		: inherit;
	color		: black;
	background-color	: transparent;
	color		: #0036C8;
	cursor		: pointer;
}
#header div.connexion form.logout div input:hover {
	color		: red;
}
#header div.connexion div.connexionList {
	background-color	: #DEE5E4;
	border				: 1px solid #BDCCC9;
	text-align			: left;
	display				: none;
}
#header div.connexion.form div.connexionList ,
#header div.connexion:hover div.connexionList {
	display				: block;
}
#header div.connexion div.connexionList ul ,
#header div.connexion div.connexionList ul li {
	margin	: 0;
	padding	: 0;
	display	: block;
	list-style: none;
}
#header div.connexion div.connexionList>ul>li>a {
	display		: block;
	line-height			: 24px;
	height				: 24px;
	padding-left		: 26px;
	padding-right		: 2px;
	background-repeat	: no-repeat;
	background-position	: 1px center;
}
#header div.connexion div.connexionList>ul>li>a:hover {
	background-color	: #BDCCC9;
}
#header div.connexion div a.facebook {	background-image	: url("../img/icon/facebook.png");}
#header div.connexion div a.google {	background-image	: url("../img/icon/google_c.png");}
#header div.connexion div a.mymed {		background-image	: url("../img/icon/mymed_c.png");}
#header div.connexion div a.openid {	background-image	: url("../img/icon/openid_c.png");}
#header div.connexion div a.twitter {	background-image	: url("../img/icon/twitter_c.png");}
#header div.connexion div a.yahoo {		background-image	: url("../img/icon/yahoo.png");}
#header div.connexion div a.aol {		background-image	: url("../img/icon/aol.png");}
#header div.connexion div a.myopenid {	background-image	: url("../img/icon/myopenid_c.png");}
#header div.connexion div a.orange {	background-image	: url("../img/icon/orange.png");}
#header div.connexion div a.steam {		background-image	: url("../img/icon/steam_c.png");}
#header div.connexion div a.verisign {	background-image	: url("../img/icon/verisign_c.png");}
#header div.connexion div a.wordpress {	background-image	: url("../img/icon/wordpress_c.png");}
#header div.connexion div a.liveid {	background-image	: url("../img/icon/liveid.png");}

#header div.connexion div a.facebook ,
#header div.connexion div a.google ,
#header div.connexion div a.mymed ,
#header div.connexion div a.openid ,
#header div.connexion div a.twitter ,
#header div.connexion div a.yahoo {		/*font-style	: italic;*/}
#header div.connexion div form {
	display		: table;
}
#header div.connexion div form>* {
	display		: table-row;
}
#header div.connexion div form>*>* {
	display		: table-cell;
}
#header div.connexion div form .submitRow {
	text-align	: right;
}

/******* SEARCH *******/
#search {
	min-height	: 70px;
	display		: inline;
	display		: inline-block;
	background-image	: url("../img/logo-mymed_114x70.png");
	background-position	: left center;
	background-repeat	: no-repeat;
	padding-left		: 116px;
	padding-top			: 2.4em;
	margin-top			: 1em;
	position	: relative;
	text-align	: left;
}
#search a.homeLink {
	display		: block;
	position	: absolute;
	height		: 70px;
	width		: 116px;
	left		: 0;
	top			: 50%;
	margin-top	: -35px;
}
#search a.homeLink span {
	display		: none;
}
#search ul {
	list-style	: none;
	margin		:0;
	padding		:0;
	padding-left: 0.1ex;
}
#search ul li {
	display		: inline;
	border-left	: solid 1px;
	padding-left: 0.5ex;
}
#search ul li.all {
	font-weight	: bold;
	border-left	: none 0;
}
#search form input.query {
	width	: 23em;
}

/******* FOOTER *******/
#footer {
	border-top	: solid 1px #b0c0e1;
	margin		: 1.4ex;
	text-align	: left;
}
#footer ul.languages {
	list-style	: none;
	margin:0;
	padding:0;
	margin-top	: 0.5em;
}
#footer ul.languages li {
	display		: inline;
	border-left	: solid 1px;
	padding-left: 0.5ex;
}
#footer ul.languages li:first-child {
	border-left	: 0 none;
}
#footer ul.languages li a {
	color	: grey;
}
#footer ul.languages li.active a {
	color		: #0036C8;
	font-weight	: bold;
}
#footer div.slogan {
	margin-top	: 0.25em;
	text-align	: center;
}

/******* CONTENT ******/
#content {
	text-align	: left;
}
/******** Tabs ********/
#tabList {
	background-image	: url("../img/tab/tabFondM.png");
	background-position	: bottom;
	background-repeat	: repeat-x;
	min-height			: 57px;
	position			: relative;
}
#tabList ul {
	list-style	: none;
	margin		: 0;
	padding		: 0;
	position	: absolute;
	bottom		: 9px;
}
#tabList ul li {
	display			: inline;
	display			: inline-block;
	position		: relative;
	vertical-align	: middle;
}
#tabList ul li button {
	display		: block;
	border		: none 0;
	padding		: 0;
	font		: inherit;
	color		: black;
	background-color	: transparent;
	width		: 13.3em;
	line-height	: 2.1em !important;
	height		: 2.1em;
	background-image		: url("../img/tab/tabOff.png");
	background-size			: 100% 100%;
	-moz-background-size	: 100% 100%;
	-o-background-size		: 100% 100%;
	-webkit-background-size	: 100% 100%;
	-khtml-background-size	: 100% 100%;
}
#tabList ul li.active button {
	width	: 13.45em;
	background-image	: url("../img/tab/tabOn.png");
}
#tabList ul li button::-moz-focus-inner {
    border	: 0 none;
    padding	: 0;
}
#tabList ul li button.del {
	position	: absolute;
	right		: 0.9em;
    top			: 0.7em;
	cursor		: pointer;
	height		: 0.8em;
	width		: 0.8em;
	background-image	: none;
	
}
#tabList ul li button.del * {
	display	: none;
}
#tabList ul li.add button {
	background-image	: url("../img/tab/plus.png");
	width	: 2.9em;
}
#tabList ul li.add button * {
	display	: none;
}
/****** Desktops ******/
#desktops>div {
	display		: none;
	position	: relative;
	overflow	: auto;
	overflow-x	: hidden;
}
#desktops div.active {
	display	: block;
}
div.desktop {
	overflow-x:hidden;
}
div.desktop div.column {
	float:left;
	height: 100%;
	min-height:1px;
}
div.desktop div.window ,
div.desktop div.window div.titlebar div.menu {
	background-color:#DEE5E4;
	border	: solid 1px #BDCCC9;
}
div.desktop div.window {
	padding:0;
	margin:1em;
	border-radius:1ex;/**/
	-moz-border-radius:1ex;
	-khtml-border-radius:1ex;
	-o-border-radius:1ex;
	position:relative;
	box-shadow: 0.5ex 0.5ex 1ex #000000;
	-moz-box-shadow: 0.5ex 0.5ex 1ex #000000;
	-o-box-shadow: 0.5ex 0.5ex 1ex #000000;
	-khtml-box-shadow: 0.5ex 0.5ex 1ex #000000;
}
div.desktop.childmaximized div.window {
	display:none;
}
div.desktop div.window div.titlebar {
	height:2em;
	font-family: Arial, sans-serif;
	padding:0 1ex;
}
div.desktop div.window div.titlebar img {
	height			: 1.3em;
	width			: 1.3em;
	margin-left		: -0.5ex;
	margin-right	: 0.5ex;
	margin-top		: -0.5ex;
	vertical-align	: middle;
}
div.desktop div.window div.titlebar .title {
	display:inline-block;
	margin:0.5ex 0;
	font-weight: bold;
	font-size:130%;
	background-repeat: no-repeat;
	background-position: left center;
}
div.desktop div.window div.titlebar button {
	float:right;
	border:0;
	background:none transparent;
	cursor:pointer;
	padding	: 0;
}
div.desktop div.window div.titlebar button::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
div.desktop div.window div.titlebar button span {
	display:none;
}
div.desktop div.window div.titlebar button.maximize {
	background-image	: url("../img/window_maximize.png");
}
div.desktop div.window div.titlebar button.options {
	background-image	: url("../img/window_menu.png");
}
div.desktop div.window div.titlebar button.maximize ,
div.desktop div.window div.titlebar button.options {
	background-size			: 100% 100%;
	-moz-background-size	: 100% 100%;
	-o-background-size		: 100% 100%;
	-khtml-background-size	: 100% 100%;
	height		: 0.85em;
	width		: 0.9em;
	margin-top	: 0.3em;
	margin-left	: 0.1em;
}
div.desktop div.window div.titlebar button.close ,
div.desktop div.window div.titlebar button.minimize {
	display:none;
}
div.desktop div.window div.titlebar button:hover {
	background-color:#bbc9d0;
}
div.desktop div.window div.titlebar div.menu {
	display:none;
	position:absolute;
	z-index: 1;
	right:0;
}
div.desktop div.window div.titlebar div.menu ul {
	margin:0;
	padding:0;
}
div.desktop div.window div.titlebar div.menu ul li {
	display: block;
	list-style: none;
	margin:0;
	padding:0;
}
div.desktop div.window div.titlebar div.menu ul button {
	float:none;
	display:block;
	text-align: left;
	width: 100%;
	color	: #678;
}
div.desktop div.window div.titlebar div.menu ul button:hover {
	background-color:#bbc9d0;
}
div.desktop div.window div.titlebar div.menu ul hr {
	margin:0.5ex 1ex;
}
div.desktop div.window div.titlebar div.menu:hover ,
div.desktop div.window div.titlebar button.options:focus + div.menu ,
div.desktop div.window div.titlebar button.options.focus + div.menu {
	display:block;
}
div.desktop div.window div.content {
	border-top:solid 1px #c0c0c0;
	background-color:#ffffff;
	overflow:auto;
	position:relative;
}
div.desktop div.window div.content ,div.desktop div.window div.content div.service {
	border-radius		: 0 0 1ex 1ex;/**/
	-moz-border-radius	: 0 0 1ex 1ex;
	-khtml-border-radius: 0 0 1ex 1ex;
	-o-border-radius	: 0 0 1ex 1ex;
}
div.desktop div.windowshadow {
	background-color:rgb(192, 192, 192);
	background-color:rgba(192, 192, 192, 0.5);
	margin:1em;
}
