a.icon {
	display				: block;
	position			: absolute;
	background-repeat	: no-repeat;
	width				: 80px;
	height				: 80px;
	outline				: 0 none;
	background-position	: center top;
}
a.icon span {
	display					: block;
	position				: absolute;
	bottom					: 0;
	font					: inherit;
	text-align				: center;
	width					: 100%;
	height					: 2.7em;
	word-wrap				: break-word;
	text-overflow			: ellipsis;
	-o-text-overflow		: ellipsis;
	-khtml-text-overflow	: ellipsis;
	-webkit-text-overflow	: ellipsis;
	-moz-text-overflow		: ellipsis;
}