<html>
  <head>
    <link rel="stylesheet" type="text/css" href="lib/jquery/CLEeditor/jquery.cleditor.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="lib/jquery/CLEeditor/jquery.cleditor.min.js"></script>
    <script type="text/javascript" src="lib/jquery/CLEeditor/startCLE.js"> </script>
  </head>
  <body>
          <textarea id="CLEeditor" name="text">Go ahead, take it for a test drive. Highlight some text and click some buttons.</textarea>
  </body>
</html> 
