#OpenIdProvider form {
	text-align	: center;
}
#OpenIdProvider form>div {
	display		: table;
	text-align	: left;
	margin		: auto;
}
#OpenIdProvider form>div>* {
	display	: table-row;
}
#OpenIdProvider form>div>*>* {
	display	: table-cell;
	margin	: 0.25ex 0.5ex;
}
#search {
	display	: none !important;
}
#header div.connexion span ,
#header div.connexion div {
	display	: none;
}
#header div.connexion form div {
	display	: block;
}