<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>mymed_backend</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DebugConsole</display-name>
    <servlet-name>DebugConsole</servlet-name>
    <servlet-class>com.mymed.controller.core.requesthandler.debug.DebugConsole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebugConsole</servlet-name>
    <url-pattern>/DebugConsole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstRequestHandler</display-name>
    <servlet-name>FirstRequestHandler</servlet-name>
    <servlet-class>com.mymed.controller.core.requesthandler.tests.FirstRequestHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstRequestHandler</servlet-name>
    <url-pattern>/FirstRequestHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DHTRequestHandler</display-name>
    <servlet-name>DHTRequestHandler</servlet-name>
    <servlet-class>com.mymed.controller.core.requesthandler.DHTRequestHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DHTRequestHandler</servlet-name>
    <url-pattern>/DHTRequestHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SDKRequestHandler</display-name>
    <servlet-name>SDKRequestHandler</servlet-name>
    <servlet-class>com.mymed.controller.core.requesthandler.SDKRequestHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SDKRequestHandler</servlet-name>
    <url-pattern>/SDKRequestHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileRequestHandler</display-name>
    <servlet-name>ProfileRequestHandler</servlet-name>
    <servlet-class>com.mymed.controller.core.requesthandler.ProfileRequestHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileRequestHandler</servlet-name>
    <url-pattern>/ProfileRequestHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthenticationRequestHandler</display-name>
    <servlet-name>AuthenticationRequestHandler</servlet-name>
    <servlet-class>com.mymed.controller.core.requesthandler.AuthenticationRequestHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationRequestHandler</servlet-name>
    <url-pattern>/AuthenticationRequestHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionRequestHandler</display-name>
    <servlet-name>SessionRequestHandler</servlet-name>
    <servlet-class>com.mymed.controller.core.requesthandler.SessionRequestHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionRequestHandler</servlet-name>
    <url-pattern>/SessionRequestHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyJamReportRequestHandler</display-name>
    <servlet-name>MyJamReportRequestHandler</servlet-name>
    <servlet-class>com.mymed.controller.core.requesthandler.MyJamReportRequestHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyJamReportRequestHandler</servlet-name>
    <url-pattern>/MyJamReportRequestHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyJamUpdateRequestHandler</display-name>
    <servlet-name>MyJamUpdateRequestHandler</servlet-name>
    <servlet-class>com.mymed.controller.core.requesthandler.MyJamUpdateRequestHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyJamUpdateRequestHandler</servlet-name>
    <url-pattern>/MyJamUpdateRequestHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyJamFeedbackRequestHandler</display-name>
    <servlet-name>MyJamFeedbackRequestHandler</servlet-name>
    <servlet-class>com.mymed.controller.core.requesthandler.MyJamFeedbackRequestHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyJamFeedbackRequestHandler</servlet-name>
    <url-pattern>/MyJamFeedbackRequestHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishRequestHandler</display-name>
    <servlet-name>PublishRequestHandler</servlet-name>
    <servlet-class>com.mymed.controller.core.requesthandler.PublishRequestHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishRequestHandler</servlet-name>
    <url-pattern>/PublishRequestHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubscribeRequestHandler</display-name>
    <servlet-name>SubscribeRequestHandler</servlet-name>
    <servlet-class>com.mymed.controller.core.requesthandler.SubscribeRequestHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubscribeRequestHandler</servlet-name>
    <url-pattern>/SubscribeRequestHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindRequestHandler</display-name>
    <servlet-name>FindRequestHandler</servlet-name>
    <servlet-class>com.mymed.controller.core.requesthandler.FindRequestHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindRequestHandler</servlet-name>
    <url-pattern>/FindRequestHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReputationRequestHandler</display-name>
    <servlet-name>ReputationRequestHandler</servlet-name>
    <servlet-class>com.mymed.controller.core.requesthandler.ReputationRequestHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReputationRequestHandler</servlet-name>
    <url-pattern>/ReputationRequestHandler</url-pattern>
  </servlet-mapping>
</web-app>