#myRivieraMap { 
	position: relative;
	top:  0px;
	left:0px;
	width: 100%; 
	padding: 0;
}

#itineraire{
	position: absolute; 
	top: 40px; 
	left:10px; 	
	text-align: left;
	display: none;
	opacity: 0.9;
}

#itineraire li a {
	position: relative;
	left: -16px;
}

#depart::-webkit-input-placeholder {
  color: LightBlue;
}
#depart:-moz-placeholder {
  color: LightBlue;
}

#arrivee {
	/*background-image:url('../img/flag_finish.png');*/
	background-repeat: no-repeat;
	background-position: 164px 6px;
	background-size: 24px 24px;
}
#arrivee::-webkit-input-placeholder {
  color: LightGray;
}
#arrivee:-moz-placeholder {
  color: LightGray;
}

 #depart {
	width:87%;
	margin-left: auto;
	margin-right: auto;
}


#arrivee {
	width:75%;
	margin-left: auto;
	margin-right: auto;
}

#divarrivee .ui-select {
	max-width:32px;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	/*right: -184px;*/
	/*top: -40px;*/
	float:right;
	right: 5px;
	
	}

#Itin .ui-datebox-inline { 
	margin-top: 5px; 
	border: none;
	/*width: 150px;*/
}
#Itin .ui-flip-content {
	width: 150px;
}
#Itin .ui-flip-center {
	width: 50px;
}

#dates .ui-btn-inner {
	padding: 4px; 
	width: 40px;
}

#times .ui-btn-inner{
	padding: 4px; 
	width: 30px;
}

#dates .ui-icon, #times .ui-icon{
	display:none;
}

#Itin fieldset {
	display: inline;
	margin: 5px;
}



.ui-page {
 	text-align: center;
}

.ui-li-desc {
	white-space: normal;
}

.poiContent {
	font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 9pt;
}

.poiFirstHeading {
	color: black;
}

.poiBodyContent {
	font-style: italic;
	color: #414141;
}