#myRivieraMap { 
	position: relative;
	top:  0px;
	left:0px;
	width: 100%; 
	padding: 0;
}

#itineraire {
	position: relative;
}

#depart {
	color: LightBlue;
}
#depart::-webkit-input-placeholder {
  color: LightBlue;
}
#depart:-moz-placeholder {
  color: LightBlue;
}

#arrivee {
	color: LightGray;
	/*background-image:url('../img/flag_finish.png');*/
	background-repeat: no-repeat;
	background-position: 164px 6px;
	background-size: 24px 24px;
}
#arrivee::-webkit-input-placeholder {
  color: LightGray;
}
#arrivee:-moz-placeholder {
  color: LightGray;
}

 #depart, #arrivee {
	width:87%;
	margin-left: auto;
	margin-right: auto;
}

#Itin .ui-select {
	width:87%;
	margin-left: auto;
	margin-right: auto;
	right: -184px;
	top: -40px;
}

.ui-page {
 	text-align: center;
}

.ui-li-desc {
	white-space: normal;
}

.poiContent {
	font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 9pt;
}

.poiFirstHeading {
	color: black;
}

.poiBodyContent {
	font-style: italic;
	color: #414141;
}