#myRivieraMap { 
	position: relative;
	top: 0px;
	left:0px;
	width: 100%; 
	padding: 0; 
}

#itineraire {
	position: relative;
}

#Edit{
	background-color: white;
}

.content  {
 	padding: 0px;
}

.ui-li-desc {
white-space: normal;
}

.poiContent {
	font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 9pt;
}

.poiFirstHeading {
	color: black;
}

.poiBodyContent {
	font-style: italic;
	color: #414141;
}