#header #login div.list, #header {
	background-color: #415B68;
	font-family: sans-serif;
}
#header #mainTitleLink {
	display: block;
	text-align: center;
	color: #999;
	text-decoration: none;
	background-image: url("../img/logo-mymed-background.png");
	background-repeat: repeat-x;
	background-color: #fff;
	text-shadow: -1px -1px 0 #eeeeee;
}
#header #mainTitleLink h1, #header #mainTitleLink p {
	display: inline;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}
#header #mainTitleLink h1 img {
	display: block;
}
#header nav ul {
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	background-color: #415B68;
	font-family: "arial", sans-serif, "OpenSymbol";
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 999999;
	text-align: center;
}
#header nav ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}
#header ul li a {
	display: block;
	padding: 0.5ex;
	padding-left: 1ex;
	height: 32px;
	line-height: 32px;
	color: #fff;
	background-position: 0.5ex center;
	background-repeat: no-repeat;
	text-decoration: none;
}
#header ul li a span {
	margin-left: 32px;
	text-decoration: underline;
}
#header ul li.desktop a {
	background-image: url("../img/icon/desktop.png");
}
#header ul li.profil a {
	background-image: url("../img/icon/profil.png");
}
#header ul li.store a {
	background-image: url("../img/icon/store32.png");
}
#header ul li.blog a {
	background-image: url("../img/icon/blog.png");
}
#header #login a, #header ul li a {
	color: #fff;
}
#header #login span.label:hover,
#header #logout button:hover,
#header #logout button:focus,
#header ul li a:hover,
#header ul li a:focus,
#header div.tools a:hover,
#header div.tools a:focus,
#header #language select:hover,
#header #language select:focus {
	background-color: #546C77;
	color: #FFFFFF;
	text-shadow: 0 0 1px #ffffff;
	/*//*/
	-moz-text-shadow: 0 0 1px #ffffff;
	/*//*/
	-o-text-shadow: 0 0 1px #ffffff;
	/*//*/
	-khtml-text-shadow: 0 0 1px #ffffff;
}
#header #login,
#header #language,
#header #language div,
#header div.tools {
	height: 3em;
}
#header div.tools form:before {
	display: none;
	content: "";
}
#header #login, #header #language {
	padding: 0 1em;
}
#header #language {
	float: left;
}
#header #language div * {
	vertical-align: middle;
}
#header #language select {
	background-color: transparent;
	color: #FFFFFF;
}
#header #language button {
	background-color: transparent;
	background-image: none;
	border: dotted 1px;
	border-left: none 0;
	cursor: pointer;
	/*
	padding		: 1px;/*/

	padding: 0;
	/**/

	font-size: inherit !important;
	font-style: normal;
	font-weight: normal;
	border-radius: 0;
	/*//*/
	-moz-border-radius: 0;
	/*//*/
	-o-border-radius: 0;
	/*//*/
	-khtml-border-radius: 0;
	box-shadow: 0 0 0 transparent, 0 0 0 transparent inset;
	/*//*/
	-moz-box-shadow: 0 0 0 transparent, 0 0 0 transparent inset;
	/*//*/
	-o-box-shadow: 0 0 0 transparent, 0 0 0 transparent inset;
	/*//*/
	-khtml-box-shadow: 0 0 0 transparent, 0 0 0 transparent inset;
}
#header #language select {
	background-color: transparent;
	border: dotted 1px;
	font-size: inherit !important;
	box-shadow: 0 0 0 transparent inset;
	/*//*/
	-moz-box-shadow: 0 0 0 transparent inset;
	/*//*/
	-o-box-shadow: 0 0 0 transparent inset;
	/*//*/
	-khtml-box-shadow: 0 0 0 transparent inset;
	border-radius: 0;
	/*//*/
	-moz-border-radius: 0;
	/*//*/
	-o-border-radius: 0;
	/*//*/
	-khtml-border-radius: 0;
}
#header #login {
	float: right;
	color: #fff;
}
#header #login .label {
	display: inline-block;
	height: 100%;
	line-height: 3em;
	padding: 0 1ex;
	text-decoration: none;
	cursor: pointer;
}
#header #login div.list {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 999998;
	padding: 1em;
	padding-bottom: 69px;
	min-height: 100%;
}
#header #login div.list ul {
	margin: 0;
	padding: 0;
}
#header #login div.list ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#header #login div.list ul li form {
	padding: 0;
}
#header #login div.list ul li form label {
	display: none;
}
#header #login div.list ul li form input,
#header #login div.list ul li form button,
#header #login div.list ul li a,
#header #login div.list ul:before {
	background-color: #415B68;
	background-repeat: repeat;
	border-bottom: 1px solid #202c34;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	background-repeat: no-repeat;
	background-repeat: no-repeat, repeat;
	background-position: 8px center;
	padding-left: 40px;
}
#header #login div.list ul li form input:hover, #header #login div.list ul li form button:hover, #header #login div.list ul li a:hover {
	background-color: #546C77;
}
#header #login div ul li form input, #header #login div ul li form button, #header #login div a {
	background-color: #ffffff;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSgyNTUsIDI1NSwgMjU1LCAwLjUpO3N0b3Atb3BhY2l0eToxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMjUpO3N0b3Atb3BhY2l0eToxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgc3R5bGU9ImZpbGw6dXJsKCNnKSIvPjwvc3ZnPg==");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.25)));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* W3C */

}
#header #login div.list ul li form input, #header #login div.list ul li form button {
	display: block;
	border-top: 0 none;
	border-bottom: 1px solid #202c34;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	width: 100%;
	font-size: inherit;
	line-height: 3em;
	height: 3em;
	padding: 0 0 0 40px;
	/*//*/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	/*//*/
	-o-box-sizing: border-box;
	/*//*/
	-khtml-box-sizing: border-box;
	border-radius: 0;
	/*//*/
	-moz-border-radius: 0;
	/*//*/
	-o-border-radius: 0;
	/*//*/
	-khtml-border-radius: 0;
	box-shadow: 0 0 0 transparent;
	/*//*/
	-moz-box-shadow: 0 0 0 transparent;
	/*//*/
	-o-box-shadow: 0 0 0 transparent;
	/*//*/
	-khtml-box-shadow: 0 0 0 transparent;
}
#header #login div.list ul:before {
	border-radius: 1em 1em 0 0;
	/*//*/
	-moz-border-radius: 1em 1em 0 0;
	/*//*/
	-o-border-radius: 1em 1em 0 0;
	/*//*/
	-khtml-border-radius: 1em 1em 0 0;
	border-top: 1px solid #fff;
	content: "Login on myMed";
	display: block;
	text-align: center;
	color: #000;
	text-shadow: 1px 1px 0 #fff;
	height: 37px;
	line-height: 37px;
	background-color: #000000;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSgwLCAwLCAwLCAwKTtzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSgwLCAwLCAwLCAwLjI1KTtzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.25)));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
	/* W3C */

	background-color: #EDF2F4;
	background-repeat: repeat;
	padding-left: 0;
}
#header #login div.list ul:lang(fr):before {
	content: "Connexion à myMed";
}
#header #login div.list ul:lang(it):before {
	content: "Login a myMed";
}
#header #login div.list ul:lang(de):before {
	content: "Login auf myMed";
}
#header #login div.list ul:lang(es):before {
	content: "Login en myMed";
}
#header #login div.list ul li:last-child form button, #header #login div.list ul li:last-child a {
	border-radius: 0 0 1em 1em;
	/*//*/
	-moz-border-radius: 0 0 1em 1em;
	/*//*/
	-o-border-radius: 0 0 1em 1em;
	/*//*/
	-khtml-border-radius: 0 0 1em 1em;
	border-bottom: 1px solid #fff;
}
#header #login div.list ul li form input:-khtml-input-placeholder {
	color: #ccc;
}
#header #login div.list ul li form input::-webkit-input-placeholder {
	color: #ccc;
}
#header #login div.list ul li form input:-ms-placeholder {
	color: #ccc;
}
#header #login div.list ul li form input:-o-placeholder {
	color: #ccc;
}
#header #login div.list ul li form input:-moz-placeholder {
	color: #ccc;
}
#header #login div.list ul li form input:placeholder {
	color: #ccc;
}
#header #login div form.openid button:after {
	content: " using OpenId";
}
#header #login div form.openid button:lang(fr):after {
	content: " avec OpenId";
}
#header #login div.list ul li a span {
	margin: 0;
}
#header #login div.list div.mobile_popup_close {
	position: absolute;
	top: 1.75em;
	left: 1.75em;
}
#header #login div a.facebook {
	background-color: #ffffff;
	background-image: url("../img/icon/facebook.png");
	background-image: url("../img/icon/facebook.png"), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSgyNTUsIDI1NSwgMjU1LCAwLjUpO3N0b3Atb3BhY2l0eToxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMjUpO3N0b3Atb3BhY2l0eToxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgc3R5bGU9ImZpbGw6dXJsKCNnKSIvPjwvc3ZnPg==");
	/* IE 9 (SVG version) */

	background-image: url("../img/icon/facebook.png"), -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* FF3.6+ */

	/*//*/
	background-image: url("../img/icon/facebook.png"), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.25)));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: url("../img/icon/facebook.png"), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: url("../img/icon/facebook.png"), -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Opera11.10+ */

	/*//*/
	background-image: url("../img/icon/facebook.png"), -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* IE10+ */

	/*//*/
	background-image: url("../img/icon/facebook.png"), linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* W3C */

}
#header #login div a.google {
	background-color: #ffffff;
	background-image: url("../img/icon/google_c.png");
	background-image: url("../img/icon/google_c.png"), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSgyNTUsIDI1NSwgMjU1LCAwLjUpO3N0b3Atb3BhY2l0eToxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMjUpO3N0b3Atb3BhY2l0eToxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgc3R5bGU9ImZpbGw6dXJsKCNnKSIvPjwvc3ZnPg==");
	/* IE 9 (SVG version) */

	background-image: url("../img/icon/google_c.png"), -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* FF3.6+ */

	/*//*/
	background-image: url("../img/icon/google_c.png"), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.25)));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: url("../img/icon/google_c.png"), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: url("../img/icon/google_c.png"), -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Opera11.10+ */

	/*//*/
	background-image: url("../img/icon/google_c.png"), -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* IE10+ */

	/*//*/
	background-image: url("../img/icon/google_c.png"), linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* W3C */

}
#header #login div a.mymed {
	background-color: #ffffff;
	background-image: url("../img/icon/mymed_c.png");
	background-image: url("../img/icon/mymed_c.png"), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSgyNTUsIDI1NSwgMjU1LCAwLjUpO3N0b3Atb3BhY2l0eToxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMjUpO3N0b3Atb3BhY2l0eToxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgc3R5bGU9ImZpbGw6dXJsKCNnKSIvPjwvc3ZnPg==");
	/* IE 9 (SVG version) */

	background-image: url("../img/icon/mymed_c.png"), -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* FF3.6+ */

	/*//*/
	background-image: url("../img/icon/mymed_c.png"), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.25)));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: url("../img/icon/mymed_c.png"), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: url("../img/icon/mymed_c.png"), -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Opera11.10+ */

	/*//*/
	background-image: url("../img/icon/mymed_c.png"), -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* IE10+ */

	/*//*/
	background-image: url("../img/icon/mymed_c.png"), linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* W3C */

}
#header #login div form.openid input, #header #login div form.openid button {
	background-color: #ffffff;
	background-image: url("../img/icon/openid_c.png");
	background-image: url("../img/icon/openid_c.png"), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSgyNTUsIDI1NSwgMjU1LCAwLjUpO3N0b3Atb3BhY2l0eToxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMjUpO3N0b3Atb3BhY2l0eToxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgc3R5bGU9ImZpbGw6dXJsKCNnKSIvPjwvc3ZnPg==");
	/* IE 9 (SVG version) */

	background-image: url("../img/icon/openid_c.png"), -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* FF3.6+ */

	/*//*/
	background-image: url("../img/icon/openid_c.png"), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.25)));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: url("../img/icon/openid_c.png"), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: url("../img/icon/openid_c.png"), -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Opera11.10+ */

	/*//*/
	background-image: url("../img/icon/openid_c.png"), -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* IE10+ */

	/*//*/
	background-image: url("../img/icon/openid_c.png"), linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* W3C */

}
#header #login div a.twitter {
	background-color: #ffffff;
	background-image: url("../img/icon/twitter_c.png");
	background-image: url("../img/icon/twitter_c.png"), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSgyNTUsIDI1NSwgMjU1LCAwLjUpO3N0b3Atb3BhY2l0eToxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMjUpO3N0b3Atb3BhY2l0eToxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgc3R5bGU9ImZpbGw6dXJsKCNnKSIvPjwvc3ZnPg==");
	/* IE 9 (SVG version) */

	background-image: url("../img/icon/twitter_c.png"), -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* FF3.6+ */

	/*//*/
	background-image: url("../img/icon/twitter_c.png"), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.25)));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: url("../img/icon/twitter_c.png"), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: url("../img/icon/twitter_c.png"), -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Opera11.10+ */

	/*//*/
	background-image: url("../img/icon/twitter_c.png"), -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* IE10+ */

	/*//*/
	background-image: url("../img/icon/twitter_c.png"), linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* W3C */

}
#header #login div a.yahoo {
	background-color: #ffffff;
	background-image: url("../img/icon/yahoo.png");
	background-image: url("../img/icon/yahoo.png"), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSgyNTUsIDI1NSwgMjU1LCAwLjUpO3N0b3Atb3BhY2l0eToxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMjUpO3N0b3Atb3BhY2l0eToxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgc3R5bGU9ImZpbGw6dXJsKCNnKSIvPjwvc3ZnPg==");
	/* IE 9 (SVG version) */

	background-image: url("../img/icon/yahoo.png"), -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* FF3.6+ */

	/*//*/
	background-image: url("../img/icon/yahoo.png"), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.25)));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: url("../img/icon/yahoo.png"), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: url("../img/icon/yahoo.png"), -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Opera11.10+ */

	/*//*/
	background-image: url("../img/icon/yahoo.png"), -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* IE10+ */

	/*//*/
	background-image: url("../img/icon/yahoo.png"), linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* W3C */

}
#header #login div a.aol {
	background-color: #ffffff;
	background-image: url("../img/icon/aol.png");
	background-image: url("../img/icon/aol.png"), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSgyNTUsIDI1NSwgMjU1LCAwLjUpO3N0b3Atb3BhY2l0eToxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMjUpO3N0b3Atb3BhY2l0eToxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgc3R5bGU9ImZpbGw6dXJsKCNnKSIvPjwvc3ZnPg==");
	/* IE 9 (SVG version) */

	background-image: url("../img/icon/aol.png"), -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* FF3.6+ */

	/*//*/
	background-image: url("../img/icon/aol.png"), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.25)));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: url("../img/icon/aol.png"), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: url("../img/icon/aol.png"), -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Opera11.10+ */

	/*//*/
	background-image: url("../img/icon/aol.png"), -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* IE10+ */

	/*//*/
	background-image: url("../img/icon/aol.png"), linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* W3C */

}
#header #login div a.myopenid {
	background-color: #ffffff;
	background-image: url("../img/icon/myopenid_c.png");
	background-image: url("../img/icon/myopenid_c.png"), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSgyNTUsIDI1NSwgMjU1LCAwLjUpO3N0b3Atb3BhY2l0eToxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMjUpO3N0b3Atb3BhY2l0eToxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgc3R5bGU9ImZpbGw6dXJsKCNnKSIvPjwvc3ZnPg==");
	/* IE 9 (SVG version) */

	background-image: url("../img/icon/myopenid_c.png"), -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* FF3.6+ */

	/*//*/
	background-image: url("../img/icon/myopenid_c.png"), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.25)));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: url("../img/icon/myopenid_c.png"), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: url("../img/icon/myopenid_c.png"), -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Opera11.10+ */

	/*//*/
	background-image: url("../img/icon/myopenid_c.png"), -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* IE10+ */

	/*//*/
	background-image: url("../img/icon/myopenid_c.png"), linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* W3C */

}
#header #login div a.orange {
	background-color: #ffffff;
	background-image: url("../img/icon/orange.png");
	background-image: url("../img/icon/orange.png"), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSgyNTUsIDI1NSwgMjU1LCAwLjUpO3N0b3Atb3BhY2l0eToxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMjUpO3N0b3Atb3BhY2l0eToxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgc3R5bGU9ImZpbGw6dXJsKCNnKSIvPjwvc3ZnPg==");
	/* IE 9 (SVG version) */

	background-image: url("../img/icon/orange.png"), -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* FF3.6+ */

	/*//*/
	background-image: url("../img/icon/orange.png"), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.25)));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: url("../img/icon/orange.png"), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: url("../img/icon/orange.png"), -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Opera11.10+ */

	/*//*/
	background-image: url("../img/icon/orange.png"), -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* IE10+ */

	/*//*/
	background-image: url("../img/icon/orange.png"), linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* W3C */

}
#header #login div a.steam {
	background-color: #ffffff;
	background-image: url("../img/icon/steam_c.png");
	background-image: url("../img/icon/steam_c.png"), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSgyNTUsIDI1NSwgMjU1LCAwLjUpO3N0b3Atb3BhY2l0eToxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMjUpO3N0b3Atb3BhY2l0eToxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgc3R5bGU9ImZpbGw6dXJsKCNnKSIvPjwvc3ZnPg==");
	/* IE 9 (SVG version) */

	background-image: url("../img/icon/steam_c.png"), -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* FF3.6+ */

	/*//*/
	background-image: url("../img/icon/steam_c.png"), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.25)));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: url("../img/icon/steam_c.png"), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: url("../img/icon/steam_c.png"), -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Opera11.10+ */

	/*//*/
	background-image: url("../img/icon/steam_c.png"), -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* IE10+ */

	/*//*/
	background-image: url("../img/icon/steam_c.png"), linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* W3C */

}
#header #login div a.verisign {
	background-color: #ffffff;
	background-image: url("../img/icon/verisign_c.png");
	background-image: url("../img/icon/verisign_c.png"), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSgyNTUsIDI1NSwgMjU1LCAwLjUpO3N0b3Atb3BhY2l0eToxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMjUpO3N0b3Atb3BhY2l0eToxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgc3R5bGU9ImZpbGw6dXJsKCNnKSIvPjwvc3ZnPg==");
	/* IE 9 (SVG version) */

	background-image: url("../img/icon/verisign_c.png"), -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* FF3.6+ */

	/*//*/
	background-image: url("../img/icon/verisign_c.png"), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.25)));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: url("../img/icon/verisign_c.png"), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: url("../img/icon/verisign_c.png"), -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Opera11.10+ */

	/*//*/
	background-image: url("../img/icon/verisign_c.png"), -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* IE10+ */

	/*//*/
	background-image: url("../img/icon/verisign_c.png"), linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* W3C */

}
#header #login div a.wordpress {
	background-color: #ffffff;
	background-image: url("../img/icon/wordpress_c.png");
	background-image: url("../img/icon/wordpress_c.png"), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSgyNTUsIDI1NSwgMjU1LCAwLjUpO3N0b3Atb3BhY2l0eToxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMjUpO3N0b3Atb3BhY2l0eToxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgc3R5bGU9ImZpbGw6dXJsKCNnKSIvPjwvc3ZnPg==");
	/* IE 9 (SVG version) */

	background-image: url("../img/icon/wordpress_c.png"), -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* FF3.6+ */

	/*//*/
	background-image: url("../img/icon/wordpress_c.png"), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.25)));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: url("../img/icon/wordpress_c.png"), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: url("../img/icon/wordpress_c.png"), -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Opera11.10+ */

	/*//*/
	background-image: url("../img/icon/wordpress_c.png"), -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* IE10+ */

	/*//*/
	background-image: url("../img/icon/wordpress_c.png"), linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* W3C */

}
#header #login div a.liveid {
	background-color: #ffffff;
	background-image: url("../img/icon/liveid.png");
	background-image: url("../img/icon/liveid.png"), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSgyNTUsIDI1NSwgMjU1LCAwLjUpO3N0b3Atb3BhY2l0eToxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMjUpO3N0b3Atb3BhY2l0eToxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgc3R5bGU9ImZpbGw6dXJsKCNnKSIvPjwvc3ZnPg==");
	/* IE 9 (SVG version) */

	background-image: url("../img/icon/liveid.png"), -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* FF3.6+ */

	/*//*/
	background-image: url("../img/icon/liveid.png"), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.25)));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: url("../img/icon/liveid.png"), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: url("../img/icon/liveid.png"), -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Opera11.10+ */

	/*//*/
	background-image: url("../img/icon/liveid.png"), -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* IE10+ */

	/*//*/
	background-image: url("../img/icon/liveid.png"), linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* W3C */

}
#header #login div a.myspace {
	background-color: #ffffff;
	background-image: url("../img/icon/myspace_c.png");
	background-image: url("../img/icon/myspace_c.png"), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSgyNTUsIDI1NSwgMjU1LCAwLjUpO3N0b3Atb3BhY2l0eToxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMjUpO3N0b3Atb3BhY2l0eToxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgc3R5bGU9ImZpbGw6dXJsKCNnKSIvPjwvc3ZnPg==");
	/* IE 9 (SVG version) */

	background-image: url("../img/icon/myspace_c.png"), -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* FF3.6+ */

	/*//*/
	background-image: url("../img/icon/myspace_c.png"), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.25)));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: url("../img/icon/myspace_c.png"), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: url("../img/icon/myspace_c.png"), -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* Opera11.10+ */

	/*//*/
	background-image: url("../img/icon/myspace_c.png"), -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* IE10+ */

	/*//*/
	background-image: url("../img/icon/myspace_c.png"), linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
	/* W3C */

}
/*
#titlesContentContainer {
	position	: absolute;
	top			: 37px;
	margin-top	: 3em;
	left	: 0;
	right	: 0;
	bottom	: 32px;
	margin-bottom	: 1ex;
	overflow	: visible;
}*/
#titlesContentContainer {
	display: none;
}
#titlesContentContainer.mobile_open {
	display: block;
}
