
#menu a{
	color: white;
	text-decoration:none;
}

#menu a:HOVER{
	color: red;
}


#header{
	position:absolute;
	top: 0px;
	left:0px;
	width:100%;
	height:205px;
	background-image: url("../img/header.png");
}
form#logout input ,
#header a{
	color: white;
	text-decoration:none;
}

form#logout input:hover ,
#header a:hover{
	color: red;
}

#mystore{
	position: absolute; 
	left: 210px; 
	top:0px;
}

#footer {
	position: relative;
	top:110px;
	width: 950px;
}

#desktop {
	position: absolute;
	overflow:auto;
	left: 230px; 
	top:31px;
	width: 700px; 
	height: 520px; 
	background-image:url("../img/wallpaper.png");
	border: thin #d2d2d2 solid;
}

#dock {
}

#content {
	position: relative;
	top:110px;
	padding:10px;
	text-align: left;
	width:930px;
	background-color: white;
	border:thin #d2d2d2 solid;	
}

#top {
	position:relative;
	text-align: center;
	top:0px;
	width: 100%;
	height: 110px;
	background-image: url("../img/top.png");
}

#container {
	position:relative;
	text-align: left;
	top:1px;
	width: 470px;
	height: 310px;
	border: thin black solid;
	padding:5px;
	background-image: url("../img/breil.png");
}

#subcontainer {
	position:relative;
	top: -5px;
	left: -5px;
	width: 480px;
	height: 320px;
	overflow: auto;
}

#bottom {
	position:relative;
	text-align: left;
	width: 470px;
	height: 42px;
	padding:5px;
	border: thin black solid;
	background-color: #364049;
	color: white;
	font-size: 11px;
	font-style: italic;
}


#bottom {
	position:relative;
	text-align: left;
	width: 470px;
	height: 42px;
	padding:5px;
	border: thin black solid;
	background-color: #364049;
	color: white;
	font-size: 11px;
	font-style: italic;
}

#warning {
	position:absolute; 
	top: 200px; 
	width: 698px;
	border: thin black solid;
	text-align: center;
	background-color: #f1c8c8;
}

#debug {
	position: relative; 
	top: 50px; 
	width:600px; 
	height:300px; 
	padding: 10px;
	background-color: black; 
	color: #5fff2e; 
	font-size:15px;
	font-weight:bold;
	opacity:0.8;
	overflow: auto;
	border: medium black solid; 
}
#inscriptionForm div.table>*>* {
	margin:0.2ex;
}
#connexion>div {
	margin:1ex;
}
#connexion div form ,#connexion div div {
	display:inline;
	vertical-align: middle;
}