.text-placeholder {color: #AAA !important}
body {
	color:#333333;
	font-family:"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
	font-size:11px;
	background-color: white;
}
a {
	color: #051893;
	text-decoration: none;
}

a:LINK {
	color: #051893;
}

a:VISITED {
	color: #051893;
}

a:HOVER {
	color: red;
}
.title {
	font-size: 136.4%;
	color: #222C8A;
    font-family: "Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
    font-weight: bold;
}
.application {
	position:relative;
	width: 700px;
	height: 520px;
	border: thin black solid;
	background-color: #415b68;;
}

.appContainer{
	top:100px;
	color: white;
}

.appToolbar{
	position: absolute; 
	top: 463px;
	background-color: #364049;
}

.drag {
	position: relative;
	text-align: center;
	font-size: 11px;
}
div.table {
	display:table;
}
div.table>* {
	display:table-row;
}
div.table>*>* {
	display:table-cell;
}
form.openid {
	height: 24px;
}
form.openid * {
	vertical-align	: middle;
}
form.openid label {
	background-image	: url("../img/login/oid_label.png");
	width: 25px;
	height: 24px;
}
form.openid button span ,
form.openid label span {
	display	: none;
}
form.openid input {
	height: 22px;
	width: 238px;
	border: none 0;
	border-top		: solid 1px #777777;
	border-bottom	: solid 1px #777777;
	margin: 0;
	padding	: 0 0.9ex;
}
form.openid button {
	background-image	: url("../img/login/oid_button.png");
	padding	: 0;
	border	: 0 none;
	width	: 57px;
	height	: 24px;
	cursor	: pointer;
}
form.openid button::-moz-focus-inner {
	padding	: 0;
	border	: 0 none;
}
a.mymed ,
a.twitter ,
a.guest ,
a.google ,
a.openid ,
a.aol ,
a.myopenid ,
a.orange ,
a.steam ,
a.verisign ,
a.wordpress ,
a.yahoo ,
a.liveid ,
a.myspace ,
a.facebook /**/ {
	display	: inline;
	display	: inline-block;
	border	: none 0;
	width	: 80px;
	height	: 24px;
	cursor	: pointer;
}
a.mymed span ,
a.twitter span ,
a.guest span ,
a.google span  ,
a.openid span ,
a.aol span ,
a.myopenid span ,
a.orange span ,
a.steam span ,
a.verisign span ,
a.wordpress span ,
a.yahoo span,
a.liveid span,
a.myspace span,
a.facebook span /**/ {
	visibility:hidden;;
}
a.mymed 	{	background-image:url("../img/login/mymed.png");}
a.twitter 	{	background-image:url("../img/login/twitter.png");}
a.guest 	{	background-image:url("../img/login/guest");}
a.google 	{	background-image:url("../img/login/google4.png");}
a.openid 	{	background-image:url("../img/login/openid.png");}
a.aol 		{	background-image:url("../img/login/aol.png");}
a.myopenid 	{	background-image:url("../img/login/myopenid.png");}
a.orange 	{	background-image:url("../img/login/orange.png");}
a.steam 	{	background-image:url("../img/login/steam.png");}
a.verisign 	{	background-image:url("../img/login/verisign.png");}
a.wordpress {	background-image:url("../img/login/wordpress.png");}
a.yahoo 	{	background-image:url("../img/login/yahoo.png");}
a.liveid 	{	background-image:url("../img/login/liveid.png");}
a.myspace 	{	background-image:url("../img/login/myspace.png");}
a.facebook 	{	background-image:url("../img/login/facebook.png");}/*
a.facebook {
	display	: inline;
	display	: inline-block;
	border:solid 1px #29447e;
	background:url("http://static.ak.fbcdn.net/rsrc.php/v1/zL/r/FGFbc80dUKj.png") no-repeat scroll 0 0 #29447E;
	background-position:-1px -189px;
	background-color:#637bad;
	cursor:pointer;
	padding:0;
	padding-left:21px;
	height:20px;
	
	color:#FFFFFF;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-weight:bold;
	font-size:11px;
}
a.facebook::-moz-focus-inner { 
    border: 0;
    padding: 0;
}
a.facebook span {
	border-top:1px solid #879ac0;
	display:block;
	height:100%;
	line-height:20px;
	padding:0 6px;
}/**/
div.error {
	position	: absolute;
	top			: 0;
	text-align	: center;
	width		: 100%;
	z-index		: 9999;
}
div.error a {
	background-color	: red;
	color				: black;
	padding				: 0.5ex;
}


/*********** DATE FIELDS ***********/
/* For the details, see: http://flowplayer.org/tools/dateinput/index.html#skinning */

/* the input field */
input.date {
	text-align:center;
}

/* calendar root element */
#calroot {
	/* place on top of other elements. set a higher value if nessessary */
	z-index	:10000;
	
	margin-top	:-1px;
	padding		:0.5ex;
	background-color:#fff;
	border		:1px solid #ccc;
	
	border-radius			:1ex;
	-moz-border-radius		:1ex;
	-o-border-radius		:1ex;
	-khtml-border-radius	:1ex;
	
	box-shadow			: 0 0 2.5ex #666;
	-moz-box-shadow		: 0 0 2.5ex #666;
	-o-box-shadow		: 0 0 2.5ex #666;
	-khtml-box-shadow	: 0 0 2.5ex #666;
}

/* head. contains title, prev/next month controls and possible month/year selectors */
#calhead {
	padding	: 0.3ex 0;
	height	: 3.5ex;
} 

#caltitle {
	font-size	: 127%;
	color		: #0150D1;
	float		: left;
	text-align	: center;
	width		: 100%;
	text-shadow	: 0 1px 0 #ddd;
}

#calnext, #calprev {
	display		: block;
	width		: 20px;
	height		: 20px;
	background	: transparent url("../img/prev.gif") no-repeat scroll center center;
	cursor		: pointer;
	position	: absolute;
}

#calprev {
	left	: 0.5ex;
}
#calnext {
	background-image:url("../img/next.gif");
	right	: 0.5ex;
}

#calprev.caldisabled, #calnext.caldisabled {
	visibility:hidden;	
}

/* year/month selector */
#caltitle select {
	font-size	: 90%;
}

/* names of the days */
#caldays {
	height			: 2.4ex;
	border-bottom	: 1px solid #ddd;
}

#caldays span {
	display		: block;
	float		: left;
	width		: 4.666ex;/*28px*/
	text-align	: center;
}

/* container for weeks */
#calweeks {
	background-color:#fff;
	margin-top	: 0.4ex;
}

/* single week */
.calweek {
	height	:3.666ex;
}

/* single day */
.calweek a {
	display			: block;
	float			: left;
	width			: 4.5ex;
	text-decoration	: none;
	margin-left		: 0.166ex;
	text-align		: center;
	line-height		: 3.3ex;
	color			: #666;
	border-radius			: 0.5ex;
	-moz-border-radius		: 0.5ex;
	-o-border-radius		: 0.5ex;
	-khtml-border-radius	: 0.5ex;
} 

/* different states */
.calweek a:hover, .calfocus {
	background-color:#ddd;
}

/* sunday */
a.calsun {
	color:red;
}

/* offmonth day */
a.caloff {
	color:#ccc;
}

a.caloff:hover {
	background-color:rgb(245, 245, 250);
}


/* unselecteble day */
a.caldisabled {
	background-color:#efefef !important;
	color:#ccc	!important;
	cursor:default;
}

/* current day */
#calcurrent {
	background-color:#498CE2;
	color:#fff;
}

/* today */
#caltoday {
	background-color:#333;
	color:#fff;
}

/*********** END DATE FIELDS ***********/
