#content {
}
#content #description_myMed {
	padding		: 0 3% 0 4%;
	width		: 43%;
	text-align	: center;
}
#content #description_myMed ,
#content #login_subscribe {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
#content #description_myMed img {
	width	: 100%;
}
#content #login_subscribe {
	overflow	: hidden;
	width		: 43%;
	padding		: 0 4% 0 3%;
}
#content #login_subscribe div.subscribe {
	overflow	: hidden;
}
#content #login_subscribe div.subscribe form {
	text-align	: center;
}
#content #login_subscribe div.subscribe form>div {
	display		: table;
	width		: 100%;
	text-align	: left;
}
#content #login_subscribe div.subscribe form>div>div {
	display	: table-row;
}
#content #login_subscribe div.subscribe form>div>div>* {
	display	: table-cell;
	margin:0.2ex;
}
#content #login_subscribe div.subscribe form label:after {
	content	: "\A0:"
}
#content #login_subscribe div.subscribe form button {
	margin	: 2em;/*
	background-image	: url("../img/inscription.png");
	height	: 24px;
	width	: 80px;
	border	: 0;
	cursor	: pointer;
}
#content #login_subscribe div.subscribe form button span {
	display	: none;*/
}





#content #login_subscribe div.login div.buttonList ul ,
#content #login_subscribe div.login div.buttonList ul li {
	margin	: 0;
	padding	: 0;
	display	: inline;
	list-style: none;
}
#content #login_subscribe div.login div.buttonList {
	position: relative;
}
#content #login_subscribe div.login div.buttonList div.main {
	width		: 100%;
	padding		: 0.3333ex;/*
	border		: 1px solid #C6D4DB;
	background-color	: #fcfcfc;*/
	border		: 1px solid #0080ff;
	background-color	: rgba(80, 192, 255, 0.75);
	border-radius			: 1ex;
	-moz-border-radius		: 1ex;
	-o-border-radius		: 1ex;
	-khtml-border-radius	: 1ex;
}
#content #login_subscribe div.login div.buttonList div.main:after {
/*
	content		: "...";
	font-size	: 200%;
	line-height	: 10px;*/
	content		: " ▼";
	line-height	: 10px;
	color		: #00c;
	float		: right;
	line-height	: 24px;
	margin-right: 1ex;
	cursor		: default;
}/*
#content #login_subscribe div.login div.buttonList:hover div.main:after {
	content	: "";
}/*
#content #login_subscribe div.login div.buttonList div.main:before {
	content		: " ►";
	color		: #00c;
}
#content #login_subscribe div.login div.buttonList:hover div.main:before {
	content	: " ▼";
}*/
#content #login_subscribe div.login div.buttonList:hover div.main {
	border-radius			: 1ex 1ex 0 0;
	-moz-border-radius		: 1ex 1ex 0 0;
	-o-border-radius		: 1ex 1ex 0 0;
	-khtml-border-radius	: 1ex 1ex 0 0;
	border-bottom-color	: #fff;
	padding-bottom		: 0;
	margin-bottom		: 0.3333ex;
}
#content #login_subscribe div.login div.buttonList div.minor {
	display		: none;
	position	: absolute;
	width		: 100%;
	top			: 100%;
	margin-top	: -1px;
	padding		: 0.3333ex;
	padding-top	: 0;/*
	background-color	: #fcfcfc;
	border		: 1px solid #C6D4DB;*/
	border		: 1px solid #0080ff;
	background-color	: rgba(80, 192, 255, 0.75);
	border-top	: 0 none;
	z-index		: 2;
	border-radius			: 0 0 1ex 1ex;
	-moz-border-radius		: 0 0 1ex 1ex;
	-o-border-radius		: 0 0 1ex 1ex;
	-khtml-border-radius	: 0 0 1ex 1ex;
}
#content #login_subscribe div.login div.buttonList:hover div.minor {
	display	: block;
}

#content #login_subscribe div.login ul ,
#content #login_subscribe div.login ul li {
	margin	: 0;
	padding	: 0;
}
#content #login_subscribe div.login ul li {
	list-style	: none;
	display		: inline;
	overflow	: hidden;
}
#content #login_subscribe div.login ul li a ,
#content #login_subscribe div.login ul li form {
	display		: inline-block;
	vertical-align	: middle;
	margin		: 0.3333ex;
}
#content #login_subscribe div.login ul li form.openid {
	height: 24px;
}
#content #login_subscribe div.login ul li form.openid * {
	vertical-align	: middle;
}
#content #login_subscribe div.login ul li form.openid label {
	background-image	: url("../img/login/oid_label.png");
	width: 25px;
	height: 24px;
	display		: inline-block;
}
#content #login_subscribe div.login ul li form.openid div {
	display	: inline-block;
}
#content #login_subscribe div.login ul li form.openid button span ,
#content #login_subscribe div.login ul li form.openid label span {
	display	: none;
}
#content #login_subscribe div.login ul li form.openid input {
	height: 22px;
	width: 158px;
	border: none 0;
	border-top		: solid 1px #777777;
	border-bottom	: solid 1px #777777;
	margin: 0;
	padding	: 0 0.6666ex;
}
#content #login_subscribe div.login ul li form.openid button {
	background-image	: url("../img/login/oid_button.png");
	background-color	: transparent;
	padding	: 0;
	border	: 0 none;
	width	: 57px;
	height	: 24px;
	cursor	: pointer;
}
#content #login_subscribe div.login ul li form.openid button::-moz-focus-inner {
	padding	: 0;
	border	: 0 none;
}
#content #login_subscribe div.login ul li a {
	display	: inline;
	display	: inline-block;
	border	: none 0;
	width	: 80px;
	height	: 24px;
	cursor	: pointer;
	text-decoration	: none;
}
#content #login_subscribe div.login ul li a span {
	visibility:hidden;;
}
#content #login_subscribe div.login a.mymed 	{	background-image:url("../img/login/mymed.png");}
#content #login_subscribe div.login a.twitter 	{	background-image:url("../img/login/twitter.png");}
#content #login_subscribe div.login a.guest 	{	background-image:url("../img/login/guest");}
#content #login_subscribe div.login a.google 	{	background-image:url("../img/login/google4.png");}
#content #login_subscribe div.login a.openid 	{	background-image:url("../img/login/openid.png");}
#content #login_subscribe div.login a.aol 		{	background-image:url("../img/login/aol.png");}
#content #login_subscribe div.login a.myopenid 	{	background-image:url("../img/login/myopenid.png");}
#content #login_subscribe div.login a.orange 	{	background-image:url("../img/login/orange.png");}
#content #login_subscribe div.login a.steam 	{	background-image:url("../img/login/steam.png");}
#content #login_subscribe div.login a.verisign 	{	background-image:url("../img/login/verisign.png");}
#content #login_subscribe div.login a.wordpress {	background-image:url("../img/login/wordpress.png");}
#content #login_subscribe div.login a.yahoo 	{	background-image:url("../img/login/yahoo.png");}
#content #login_subscribe div.login a.liveid 	{	background-image:url("../img/login/liveid.png");}
#content #login_subscribe div.login a.myspace 	{	background-image:url("../img/login/myspace.png");}
#content #login_subscribe div.login a.facebook 	{	background-image:url("../img/login/facebook.png");}

