html ,body {
	margin		: 0;
	padding		: 0;
	height		: 100%;
	overflow	: auto;
	position	: relative;
	font-size	: 90%;
	background-color	: #F8F8F8;
}

/******* HEADER *******/
#header {
	background-color	: #415B68;
	font-family	: "arial", sans-serif;
	vertical-align	: middle;
}
#header div.innerContent {
	position	: relative;
	margin		: 0 8%;
}
@media (max-width: 863px) {
	#header div.innerContent {
		margin		: 0;
	}
}
#mainTitleLink {
	display			: inline-block;
	text-decoration	: none;
	color			: inherit;
	margin		: 0.75ex 0 0.75ex 0.75ex;
}
#header h1 {
	margin	: 0;
}
#header h1 img {
	border-radius			: 0.75ex;
	-moz-border-radius		: 0.75ex;
	-o-border-radius		: 0.75ex;
	-khtml-border-radius	: 0.75ex;
	box-shadow			: 0 0 1ex #FFFFFF;
	-moz-box-shadow		: 0 0 1ex #FFFFFF;
	-o-box-shadow		: 0 0 1ex #FFFFFF;
	-khtml-box-shadow	: 0 0 1ex #FFFFFF;
}
#header nav {
	border-style: none solid;
	border-width: 0 1px;
	margin: 0 1em;
	padding: 0 1em;
}
#header p ,
#header h1 ,
#header nav ,
#header h1 img {
	display	: inline;
	display	: inline-block;
	vertical-align	: middle;
}
#header ul ,
#header ul li {
	margin	: 0;
	padding	: 0;
}
#header ul {
	display	: inline;
}
#header ul li {
	list-style	: none;
	display		: inline-block;
}
#header ul li a {
	display				: block;
	padding				: 0.5ex;
	padding-left		: 1ex;
	min-height			: 32px;
	line-height			: 32px;
	background-position	: 0.5ex center;
	background-repeat	: no-repeat;
	text-decoration		: none;
}
#header ul li a span {
	margin-left	: 32px;
	text-decoration	: underline;
}
#header ul li.desktop a 	{background-image: url("../img/icon/desktop.png");}
#header ul li.profil a 	{background-image: url("../img/icon/profil.png");}
#header ul li.blog a 	{background-image: url("../img/icon/blog.png");}
#language button ,
#language select ,
#header ,
#logout button ,
#header div.tools a ,
#header ul li a {
	color	: #eee;
	font-weight	: normal;
}
#header button:hover ,
#header select:hover ,
#header div.tools a:hover ,
#header ul li a:hover ,
#logout button:focus ,
#header select:focus ,
#header div.tools a:focus ,
#header ul li a:focus {
	color		: #ffffff;
	background-color	: #546C77;
	background-color	: rgba(255,255,255,0.1);
	text-shadow			: 0 0 1px #fff;
	-moz-text-shadow	: 0 0 1px #fff;
	-o-text-shadow		: 0 0 1px #fff;
	-khtml-text-shadow	: 0 0 1px #fff;
}
#header #login button:active {
	color		: #eee;
}
#login:hover {
	color		: #ffffff;
	background-color	: #546C77;
	background-color	: rgba(255,255,255,0.1);
}
#login:hover span.label {
	text-shadow			: 0 0 1px #fff;
	-moz-text-shadow	: 0 0 1px #fff;
	-o-text-shadow		: 0 0 1px #fff;
	-khtml-text-shadow	: 0 0 1px #fff;
}
#header select option {
	text-shadow			: 0 0 0 #fff;
	-moz-text-shadow	: 0 0 0 #fff;
	-o-text-shadow		: 0 0 0 #fff;
	-khtml-text-shadow	: 0 0 0 #fff;
}
#logout button:active ,
#header div.tools a:active ,
#header ul li a:active {
	color		: #ff0000;
}
#header div.tools {
	position	: absolute;
	right		: 0;
	top			: 0;
	height		: 100%;
}
#login ,
#header div.tools form {
	display		: inline-block;
	vertical-align	: middle;
	padding		: 0 1ex;
}
#language {
}
#language button {
	background-color	: transparent;
	background-image	: none;
	border		: dotted 1px;
	border-left	: none 0;
	cursor		: pointer;/*
	padding		: 1px;/*/
	padding		: 0;/**/
	font-size	: inherit !important;
	font-style	: normal;
	border-radius		: 0;
	-moz-border-radius	: 0;
	-o-border-radius	: 0;
	-khtml-border-radius: 0;
	box-shadow	: 0 0 0 transparent, 0 0 0 transparent inset;
	-moz-box-shadow	: 0 0 0 transparent, 0 0 0 transparent inset;
	-o-box-shadow	: 0 0 0 transparent, 0 0 0 transparent inset;
	-khtml-box-shadow	: 0 0 0 transparent, 0 0 0 transparent inset;
}
#language select {
	background-color	: transparent;
	border		: dotted 1px;
	font-size	: inherit !important;
	box-shadow	: 0 0 0 transparent inset;
	-moz-box-shadow	: 0 0 0 transparent inset;
	-o-box-shadow	: 0 0 0 transparent inset;
	-khtml-box-shadow	: 0 0 0 transparent inset;
	border-radius			: 0;
	-moz-border-radius		: 0;
	-o-border-radius		: 0;
	-khtml-border-radius	: 0;
}
#logout {
	border-left	: solid 1px #EDF2F4;
}
#logout button {
	background-color	: transparent;
	background-image	: none;
	border		: 0 none;
	cursor		: pointer;
	padding		: 0;
	text-decoration	: underline;
	font	: inherit;
	font-size	: inherit !important;
	font-style	: normal;
	border-radius		: 0;
	-moz-border-radius	: 0;
	-o-border-radius	: 0;
	-khtml-border-radius: 0;
	box-shadow	: 0 0 0 transparent, 0 0 0 transparent inset;
	-moz-box-shadow	: 0 0 0 transparent, 0 0 0 transparent inset;
	-o-box-shadow	: 0 0 0 transparent, 0 0 0 transparent inset;
	-khtml-box-shadow	: 0 0 0 transparent, 0 0 0 transparent inset;
}
#language button:focus::-moz-focus-inner ,
#logout button:focus::-moz-focus-inner {
	border-color: #eee;
}
/******* Connexion ****/
#login {
	position	: relative;
	height		: 100%;
}
#login span.label:after {
	content		: " ▼";
	font-size	: 80%;
}
#login div.list {
	position	: absolute;
	background-color	: #415B68;
	border		: 1px solid #BDCCC9;
	display		: none;
	right		: 0;
	top			: 100%;
	z-index		: 1;
}
#login.form div.list ,
#login:hover div.list {
	display				: block;
}
#login div.list ul ,
#login div.list ul li {
	margin	: 0;
	padding	: 0;
	display	: table;
	list-style: none;
}
#login div.list ul li {
	display	: table-row;
}
#header #login div.list ul li a {
	display			: table-cell;
	line-height		: normal;
	height			: 24px;
	padding			: 0 2px 0 26px;
	vertical-align	: middle;
	background-repeat	: no-repeat;
	background-position	: 1px center;
}
#login div.list ul li a:hover {
}
#login div.list ul li a span {
	margin	: 0;
}
#login div a.facebook 	{background-image: url("../img/icon/facebook.png");}
#login div a.google 	{background-image: url("../img/icon/google_c.png");}
#login div a.mymed 		{background-image: url("../img/icon/mymed_c.png");}
#login div a.openid 	{background-image: url("../img/icon/openid_c.png");}
#login div a.twitter 	{background-image: url("../img/icon/twitter_c.png");}
#login div a.yahoo 		{background-image: url("../img/icon/yahoo.png");}
#login div a.aol 		{background-image: url("../img/icon/aol.png");}
#login div a.myopenid 	{background-image: url("../img/icon/myopenid_c.png");}
#login div a.orange 	{background-image: url("../img/icon/orange.png");}
#login div a.steam 		{background-image: url("../img/icon/steam_c.png");}
#login div a.verisign 	{background-image: url("../img/icon/verisign_c.png");}
#login div a.wordpress 	{background-image: url("../img/icon/wordpress_c.png");}
#login div a.liveid 	{background-image: url("../img/icon/liveid.png");}
#login div a.myspace 	{background-image: url("../img/icon/myspace_c.png");}
#login div form.openid label {
	background-image: url("../img/icon/openid_c.png");
	height	: 22px;
	width	: 22px;
}
#login div form.openid label span {display	: none;}

#header #login div form {
	white-space	: nowrap;
	padding		: 0 0.5ex 0 0;
}
#login div form>* {
	display			: inline-block;
	vertical-align	: middle;
}
#login div form>*>* {
	display			: inline-block;
	vertical-align	: middle;
}
#login div form .submitRow {
	text-align	: right;
}

/******* TITLES *******/
#titles {
	overflow		: auto;
	background-color: #EDF2F4;
	border-bottom	: 1px solid #C6D4DB;
	height			: 10em;
}
#titles div.innerContent {
	margin		: 0 8%;
}
#titles h1 {
	text-shadow	: 0 0 0.5ex #205B98;
}
@media (max-width: 863px) {
	#titles div.innerContent {
		margin		: 0;
	}
}

/******* FOOTER *******/
#footer {
	bottom	: 0;
	height	: 4%;
	left	: 8%;
	position: absolute;
	right	: 8%;
}
@media (max-width: 863px) {
	#footer {
		left	: 0;
		right	: 0;
	}
}
#footer ul ,
#footer ul li {
	margin	: 0;
	padding	: 0;
}
#footer ul li {
	display	: inline;
	list-style	: none;
}
#footer nav ul li:before {
	content	: " - ";
}
#footer nav ul li:first-child:before {
	content	: "";
}
#footer nav {
	float	: right;
}
#footer details {/*
	position: absolute;
	bottom: 0;
	min-height: 100%;*/
}
#footer details ul {
	display	: none;
}
#footer details:hover ul {
	display	: block;
}

/******* CONTENT ******/
#content {
	background-color	: white;
	border		: 1px #D2D2D2 solid;
	position	: absolute;
	left		: 8%;
	right		: 8%;
	top			: 10em;
	bottom		: 4%;
	overflow	: auto;
}
@media (max-width: 863px) {
	#content {
		left	: 0;
		right	: 0;
		border-left		: 0 none;
		border-right	: 0 none;
	}
}
/******** DEBUG *******/
#debug {
	position: absolute;
	top	:100%;
	margin-top	: -480px; 
	width:640px; 
	height:480px; 
	background-color: black; 
	color: #c0c0c0; 
	font-size:15px;
	opacity:0.8;
	overflow: auto;
	border: medium black solid; 
	font-family:monospace;
}
#debug a.close {
	color	: #fff;
	float	: right;
}

/******* SEARCH *******/
#search {
	min-height	: 70px;
	display		: inline;
	display		: inline-block;
	background-image	: url("../img/logo-mymed_114x70.png");
	background-position	: left center;
	background-repeat	: no-repeat;
	padding-left		: 116px;
	padding-top			: 2.4em;
	margin-top			: 1em;
	position	: relative;
	text-align	: left;
}
#search a.homeLink {
	display		: block;
	position	: absolute;
	height		: 70px;
	width		: 116px;
	left		: 0;
	top			: 50%;
	margin-top	: -35px;
}
#search a.homeLink span {
	display		: none;
}
#search ul {
	list-style	: none;
	margin		:0;
	padding		:0;
	padding-left: 0.1ex;
}
#search ul li {
	display		: inline;
	border-left	: solid 1px;
	padding-left: 0.5ex;
}
#search ul li.all {
	font-weight	: bold;
	border-left	: none 0;
}
#search form input.query {
	width	: 23em;
}

/******** Tabs ********/
#tabList {
	background-image	: url("../img/tab/tabFondM.png");
	background-position	: bottom;
	background-repeat	: repeat-x;
	min-height			: 57px;
	position			: relative;
}
#tabList ul {
	list-style	: none;
	margin		: 0;
	padding		: 0;
	position	: absolute;
	bottom		: 9px;
}
#tabList ul li {
	display			: inline;
	display			: inline-block;
	position		: relative;
	vertical-align	: middle;
}
#tabList ul li button {
	display		: block;
	border		: none 0;
	padding		: 0;
	font		: inherit;
	color		: black;
	background-color	: transparent;
	width		: 13.3em;
	line-height	: 2.1em !important;
	height		: 2.1em;
	background-image		: url("../img/tab/tabOff.png");
	background-size			: 100% 100%;
	-moz-background-size	: 100% 100%;
	-o-background-size		: 100% 100%;
	-webkit-background-size	: 100% 100%;
	-khtml-background-size	: 100% 100%;
}
#tabList ul li.active button {
	width	: 13.45em;
	background-image	: url("../img/tab/tabOn.png");
}
#tabList ul li button::-moz-focus-inner {
    border	: 0 none;
    padding	: 0;
}
#tabList ul li button.del {
	position	: absolute;
	right		: 0.9em;
    top			: 0.7em;
	cursor		: pointer;
	height		: 0.8em;
	width		: 0.8em;
	background-image	: none;
	
}
#tabList ul li button.del * {
	display	: none;
}
#tabList ul li.add button {
	background-image	: url("../img/tab/plus.png");
	width	: 2.9em;
}
#tabList ul li.add button * {
	display	: none;
}
/****** Desktops ******/
#desktops>div {
	display		: none;
	position	: relative;
	overflow	: auto;
	overflow-x	: hidden;
}
#desktops div.active {
	display	: block;
}
div.desktop {
	overflow-x:hidden;
}
div.desktop div.column {
	float:left;
	height: 100%;
	min-height:1px;
}
div.desktop div.window ,
div.desktop div.window div.titlebar div.menu {
	background-color:#DEE5E4;
	border	: solid 1px #BDCCC9;
}
div.desktop div.window {
	padding:0;
	margin:1em;
	border-radius:1ex;/**/
	-moz-border-radius:1ex;
	-khtml-border-radius:1ex;
	-o-border-radius:1ex;
	position:relative;
	box-shadow: 0.5ex 0.5ex 1ex #000000;
	-moz-box-shadow: 0.5ex 0.5ex 1ex #000000;
	-o-box-shadow: 0.5ex 0.5ex 1ex #000000;
	-khtml-box-shadow: 0.5ex 0.5ex 1ex #000000;
}
div.desktop.childmaximized div.window {
	display:none;
}
div.desktop div.window div.titlebar {
	height:2em;
	font-family: Arial, sans-serif;
	padding:0 1ex;
}
div.desktop div.window div.titlebar img {
	height			: 1.3em;
	width			: 1.3em;
	margin-left		: -0.5ex;
	margin-right	: 0.5ex;
	margin-top		: -0.5ex;
	vertical-align	: middle;
}
div.desktop div.window div.titlebar .title {
	display:inline-block;
	margin:0.5ex 0;
	font-weight: bold;
	font-size:130%;
	background-repeat: no-repeat;
	background-position: left center;
}
div.desktop div.window div.titlebar button {
	float:right;
	border:0;
	background:none transparent;
	cursor:pointer;
	padding	: 0;
}
div.desktop div.window div.titlebar button::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
div.desktop div.window div.titlebar button span {
	display:none;
}
div.desktop div.window div.titlebar button.maximize {
	background-image	: url("../img/window_maximize.png");
}
div.desktop div.window div.titlebar button.options {
	background-image	: url("../img/window_menu.png");
}
div.desktop div.window div.titlebar button.maximize ,
div.desktop div.window div.titlebar button.options {
	background-size			: 100% 100%;
	-moz-background-size	: 100% 100%;
	-o-background-size		: 100% 100%;
	-khtml-background-size	: 100% 100%;
	height		: 0.85em;
	width		: 0.9em;
	margin-top	: 0.3em;
	margin-left	: 0.1em;
}
div.desktop div.window div.titlebar button.close ,
div.desktop div.window div.titlebar button.minimize {
	display:none;
}
div.desktop div.window div.titlebar button:hover {
	background-color:#bbc9d0;
}
div.desktop div.window div.titlebar div.menu {
	display:none;
	position:absolute;
	z-index: 1;
	right:0;
}
div.desktop div.window div.titlebar div.menu ul {
	margin:0;
	padding:0;
}
div.desktop div.window div.titlebar div.menu ul li {
	display: block;
	list-style: none;
	margin:0;
	padding:0;
}
div.desktop div.window div.titlebar div.menu ul button {
	float:none;
	display:block;
	text-align: left;
	width: 100%;
	color	: #678;
}
div.desktop div.window div.titlebar div.menu ul button:hover {
	background-color:#bbc9d0;
}
div.desktop div.window div.titlebar div.menu ul hr {
	margin:0.5ex 1ex;
}
div.desktop div.window div.titlebar div.menu:hover ,
div.desktop div.window div.titlebar button.options:focus + div.menu ,
div.desktop div.window div.titlebar button.options.focus + div.menu {
	display:block;
}
div.desktop div.window div.content {
	border-top:solid 1px #c0c0c0;
	background-color:#ffffff;
	overflow:auto;
	position:relative;
}
div.desktop div.window div.content ,div.desktop div.window div.content div.service {
	border-radius		: 0 0 1ex 1ex;/**/
	-moz-border-radius	: 0 0 1ex 1ex;
	-khtml-border-radius: 0 0 1ex 1ex;
	-o-border-radius	: 0 0 1ex 1ex;
}
div.desktop div.windowshadow {
	background-color:rgb(192, 192, 192);
	background-color:rgba(192, 192, 192, 0.5);
	margin:1em;
}
