html ,body {
	margin:0;
	padding:0;
	height:100%;
}
#desktop {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:2em;
	overflow:auto;
	background-image:url("wallpaper.jpg");/*
	background-size:100% 100%;/**/
	-moz-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-o-background-size:100% 100%;
	-khtml-background-size:100% 100%;
}
#footer {
	position:absolute;
	height:2em;
	left:0;
	right:0;
	bottom:0;
}
#desktop {
	overflow-x:hidden;
}
#desktop div.column {
	float:left;
	height: 100%;
}
#desktop div.window ,
#desktop div.window div.titlebar div.menu {
	background-color:rgb(0, 128, 192);
	background-color:rgba(0, 128, 192, 0.75);
	border:solid 1px #ffffff;
	border-color:rgba(255, 255, 255, 0.75);
}
#desktop div.window {
	padding:0;
	margin:1em;/*
	border-radius:1ex;/**/
	-moz-border-radius:1ex;
	-webkit-border-radius:1ex;
	-khtml-border-radius:1ex;
	-o-border-radius:1ex;
	position:relative;
}
#desktop.childmaximized div.window {
	display:none;
}
#desktop div.window div.titlebar {
	height:2em;
	font-family: sans-serif;
}
#desktop div.window div.titlebar .title {
	display:inline-block;
	margin:0.5ex 1ex;
	font-weight: bold;
	text-transform: capitalize;
	padding-left:20px;
	background-repeat: no-repeat;
	background-position: left center;
	background-image:url("noicon.png");
	color:#fff;
}
#desktop div.window div.titlebar button ,
#desktop div.window div.titlebar .title {
	text-shadow:0 0 1ex #40E0FF;
}
#desktop div.window div.titlebar button {
	float:right;
	border:0;
	background:none transparent;
	cursor:pointer;
	color:#ddd;
}
#desktop div.window div.titlebar>button.close span ,
#desktop div.window div.titlebar>button.minimize span ,
#desktop div.window div.titlebar>button.maximize span {
	font-size:120%;
	display:block;
	margin-top: -0.15ex;
}
#desktop div.window div.titlebar>button.close {/*
	border-radius			:0 1ex 0 0;/**/
	-moz-border-radius		:0 1ex 0 0;
	-webkit-border-radius	:0 1ex 0 0;
	-khtml-border-radius	:0 1ex 0 0;
	-o-border-radius		:0 1ex 0 0;
}
#desktop div.window div.titlebar button:hover {
	color:#fff;
	text-shadow:0 0 1ex #C0FFFF;
	background-color:#1090d0;
	background-color:rgba(16, 144, 208, 0.1);
}
#desktop div.window div.titlebar div.menu {
	display:none;
	position:absolute;
	z-index: 1;
	right:0;
}
#desktop div.window div.titlebar div.menu ul {
	margin:0;
	padding:0;
}
#desktop div.window div.titlebar div.menu ul li {
	display: block;
	list-style: none;
	margin:0;
	padding:0;
}
#desktop div.window div.titlebar div.menu ul button {
	float:none;
	color:#fff;
	display:block;
	text-align: left;
	width: 100%;
}
#desktop div.window div.titlebar div.menu ul button:hover {
	background-color:rgb(0, 128, 192);
}
#desktop div.window div.titlebar div.menu ul hr {
	margin:0.5ex 1ex;
}
#desktop div.window div.titlebar div.menu:hover ,
#desktop div.window div.titlebar button.options:focus + div.menu {
	display:block;
}
#desktop div.window div.content {
	border:solid 1px #c0c0c0;
	background-color:#ffffff;
	margin:0 1ex 3ex;
	overflow:auto;
	position:relative;
}
#desktop div.windowshadow {
	background-color:rgb(192, 192, 192);
	background-color:rgba(192, 192, 192, 0.5);
	margin:1em;
}
/*
#desktop div.window div.titlebar button {
	background-color:red;
}
#desktop div.window div.titlebar button span {
	background-color:lime;
}/**/
#debug {
	background-color: black;
	border: 3px groove #808080;
	bottom: 0;
	color: #C0C0C0;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}
#debug:empty {
	display:none;
}