/******* SEARCH *******/
#search {
	min-height: 70px;
	display: inline;
	display: inline-block;
	background-image: url("../img/logo-mymed_114x70.png");
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 116px;
	padding-top: 2.4em;
	margin-top: 1em;
	position: relative;
	text-align: left;
}
#search a.homeLink {
	display: block;
	position: absolute;
	height: 70px;
	width: 116px;
	left: 0;
	top: 50%;
	margin-top: -35px;
}
#search a.homeLink span {
	display: none;
}
#search ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 0.1ex;
}
#search ul li {
	display: inline;
	border-left: solid 1px;
	padding-left: 0.5ex;
}
#search ul li.all {
	font-weight: bold;
	border-left: none 0;
}
#search form input.query {
	width: 23em;
}
/******** Tabs ********/
#tabList {
	position: fixed;
	margin-top: -2em;
	overflow: hidden;
	overflow-y: visible;
	height: 3em;
	z-index: 1;
	left: 8%;
	right: 8%;
}
/*
#tabList:before {
	content	: "";
	height	: 3em;
	width	: 100%;
	display	: block;
	position: absolute;
	.box-shadow(0 1ex 2ex #000);
}
#tabList:after {
	content	: "";
	height	: 2em;
	left	: 0;
	right	: 0;
	bottom	: 0;
	border-left	: solid 1px #D2D2D2;
	border-right: solid 1px #D2D2D2;
	position	: absolute;
}*/
#tabList div.innerContent {
	overflow: auto;
	overflow-y: hidden;
	height: 3em;
	width: 100%;
	position: relative;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#edf2f4" , endColorstr= "#0e2835" ,GradientType=0 );
	background-color: #EDF2F4;
	background-repeat: no-repeat;
	/*don't exist on IE<9*/

	/*find on google an htc*/

	border-radius: 2ex 2ex 0 0;
}
@media (max-width: 777px) {
	#header div.innerContent {
		left: 0;
		right: 0;
	}
}
#tabList hr {
	background-color: #0e2835;
	border: none 0;
	border-top: solid 1px;
	border-color: #859fac;
	height: 0.5em;
	margin: -1px 0 0;
	box-sizing: content-box;
}
#tabList .border-bottom {
	background-color: #D2D2D2;
	height: 1px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
#tabList ul, #tabList li {
	margin: 0;
	padding: 0;
	height: 100%;
}
#tabList ul {
	display: table;
	height: 2.5em;
	position: relative;
}
#tabList li {
	display: table-cell;
	border: solid 1px #859fac;
	border-top-color: #fff;
	/*find on google an htc*/

	border-radius: 1ex 1ex 0 0;
}
#tabList li a {
	display: block;
	font-family: sans-serif;
	text-decoration: none;
	height: 100%;
	padding: 0 2ex;
	color: #fff;
	text-align: center;
	position: relative;
	/*find on google an htc*/

	border-radius: 1ex 1ex 0 0;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#748e9b" , endColorstr= "#0e2835" ,GradientType=0 );
	/*don't exist on IE<9*/

}
#tabList li a:after {
	content: "";
	/*find on google an htc*/

	border-radius: 2.5ex 0.5ex;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "rgba(255, 255, 255, 0)" , endColorstr= "#66ffffff" ,GradientType=0 );
	background-color: transparent;
	width: 100%;
	height: 50%;
	position: absolute;
	top: 0;
	left: 0;
}
#tabList li.focus {
	border-bottom-color: #0e2835;
	font-weight: bold;
}
#tabList li a span {
	display: inline-block;
}
#tabList li form {
	display: none;
}
/****** Desktops ******/
#desktops {
	bottom: 0;
	left: 0;
	margin-top: -1px;
	right: 0;
	top: 2ex;
	overflow: auto;
	position: absolute;
	background-image: url("http://mymed21.sophia.inria.fr/mymed/iGoogle/wallpaper.jpg");
	/*don't exist on IE<9*/

}
#desktops > div {
	display: none;
	position: relative;
	overflow: auto;
	overflow-x: hidden;
}
#desktops > div.focus {
	display: block;
}
div.desktop {
	overflow-x: hidden;
	height: 100%;
}
div.desktop div.column {
	float: left;
	height: 100%;
	min-height: 1px;
}
div.desktop div.window, div.desktop div.window div.titlebar div.menu {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#7f0080ff" , endColorstr= "#7f0080ff" ,GradientType=0 );
	border: solid 1px #ffffff;
	border: 1px solid rgba(255, 255, 255, 0.5);
	background-image: -moz-linear-gradient(top right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 11%, rgba(255, 255, 255, 0.15) 12.5%, rgba(255, 255, 255, 0.15) 16.5%, rgba(255, 255, 255, 0) 18%, rgba(255, 255, 255, 0) 29%, rgba(255, 255, 255, 0.15) 30.5%, rgba(255, 255, 255, 0.15) 40%, rgba(255, 255, 255, 0) 41.5%, rgba(255, 255, 255, 0) 61%, rgba(255, 255, 255, 0.15) 62.5%, rgba(255, 255, 255, 0.15) 66.5%, rgba(255, 255, 255, 0) 68%, rgba(255, 255, 255, 0) 79%, rgba(255, 255, 255, 0.15) 80.5%, rgba(255, 255, 255, 0.15) 90%, rgba(255, 255, 255, 0) 91.5%, rgba(255, 255, 255, 0) 100%);
	background-image: -o-linear-gradient(top right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 11%, rgba(255, 255, 255, 0.15) 12.5%, rgba(255, 255, 255, 0.15) 16.5%, rgba(255, 255, 255, 0) 18%, rgba(255, 255, 255, 0) 29%, rgba(255, 255, 255, 0.15) 30.5%, rgba(255, 255, 255, 0.15) 40%, rgba(255, 255, 255, 0) 41.5%, rgba(255, 255, 255, 0) 61%, rgba(255, 255, 255, 0.15) 62.5%, rgba(255, 255, 255, 0.15) 66.5%, rgba(255, 255, 255, 0) 68%, rgba(255, 255, 255, 0) 79%, rgba(255, 255, 255, 0.15) 80.5%, rgba(255, 255, 255, 0.15) 90%, rgba(255, 255, 255, 0) 91.5%, rgba(255, 255, 255, 0) 100%);
	background-image: -webkit-linear-gradient(top right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 11%, rgba(255, 255, 255, 0.15) 12.5%, rgba(255, 255, 255, 0.15) 16.5%, rgba(255, 255, 255, 0) 18%, rgba(255, 255, 255, 0) 29%, rgba(255, 255, 255, 0.15) 30.5%, rgba(255, 255, 255, 0.15) 40%, rgba(255, 255, 255, 0) 41.5%, rgba(255, 255, 255, 0) 61%, rgba(255, 255, 255, 0.15) 62.5%, rgba(255, 255, 255, 0.15) 66.5%, rgba(255, 255, 255, 0) 68%, rgba(255, 255, 255, 0) 79%, rgba(255, 255, 255, 0.15) 80.5%, rgba(255, 255, 255, 0.15) 90%, rgba(255, 255, 255, 0) 91.5%, rgba(255, 255, 255, 0) 100%);
	background-image: -ms-linear-gradient(top right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 11%, rgba(255, 255, 255, 0.15) 12.5%, rgba(255, 255, 255, 0.15) 16.5%, rgba(255, 255, 255, 0) 18%, rgba(255, 255, 255, 0) 29%, rgba(255, 255, 255, 0.15) 30.5%, rgba(255, 255, 255, 0.15) 40%, rgba(255, 255, 255, 0) 41.5%, rgba(255, 255, 255, 0) 61%, rgba(255, 255, 255, 0.15) 62.5%, rgba(255, 255, 255, 0.15) 66.5%, rgba(255, 255, 255, 0) 68%, rgba(255, 255, 255, 0) 79%, rgba(255, 255, 255, 0.15) 80.5%, rgba(255, 255, 255, 0.15) 90%, rgba(255, 255, 255, 0) 91.5%, rgba(255, 255, 255, 0) 100%);
	background-image: linear-gradient(top right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 11%, rgba(255, 255, 255, 0.15) 12.5%, rgba(255, 255, 255, 0.15) 16.5%, rgba(255, 255, 255, 0) 18%, rgba(255, 255, 255, 0) 29%, rgba(255, 255, 255, 0.15) 30.5%, rgba(255, 255, 255, 0.15) 40%, rgba(255, 255, 255, 0) 41.5%, rgba(255, 255, 255, 0) 61%, rgba(255, 255, 255, 0.15) 62.5%, rgba(255, 255, 255, 0.15) 66.5%, rgba(255, 255, 255, 0) 68%, rgba(255, 255, 255, 0) 79%, rgba(255, 255, 255, 0.15) 80.5%, rgba(255, 255, 255, 0.15) 90%, rgba(255, 255, 255, 0) 91.5%, rgba(255, 255, 255, 0) 100%);
	/*don't exist on IE<9*/

}
div.desktop div.window {
	padding: 0;
	margin: 1em;
	/*find on google an htc*/

	border-radius: 1ex;
	position: relative;
	/*see filter "Shadow" on msdn (need a border or a background)*/

	resize: vertical;
	height: 200px;
	min-height: 3em;
}
div.desktop.childmaximized div.window {
	display: none;
}
div.desktop div.window div.titlebar {
	height: 2em;
	font-family: Arial, sans-serif;
	padding: 0 0.5ex 0 1ex;
}
div.desktop div.window div.titlebar img {
	height: 1.3em;
	width: 1.3em;
	margin-left: -0.5ex;
	margin-right: 0.5ex;
	margin-top: -0.5ex;
	vertical-align: middle;
}
div.desktop div.window div.titlebar .title {
	display: inline-block;
	line-height: 1.53846em;
	/* 2em*100%/130% */

	font-weight: bold;
	font-size: 130%;
	cursor: default;
	color: #eee;
	/*see filter "Shadow" on msdn (need no border and no background)*/
	/*
	@msFilter	: `"progid:DXImageTransform.Microsoft.DropShadow(OffX=@{xOffset}, OffY=@{yOffset}, Color=@{color})"`;
	filter: @msFilter;*/

	background-repeat: no-repeat;
	background-position: left center;
}
div.desktop div.window div.titlebar button {
	float: right;
	border: 0;
	background: none transparent;
	cursor: pointer;
	padding: 0;
}
div.desktop div.window div.titlebar button::-moz-focus-inner {
	border: 0 none;
	padding: 0;
}
div.desktop div.window div.titlebar button.options:after {
	content: " ▼";
	font-size: 80%;
}
div.desktop div.window div.titlebar button.close,
div.desktop div.window div.titlebar button.minimize,
div.desktop div.window div.titlebar button.maximize,
div.desktop div.window div.titlebar button.options {
	margin-top: 0.3em;
	margin-left: 0.1em;
	color: #CCCCCC;
	padding: 0 0.5ex;
}
/**/
div.desktop div.window div.titlebar button.close, div.desktop div.window div.titlebar button.minimize {
	display: none;
}
/**/
div.desktop div.window div.titlebar div.menu {
	display: none;
	position: absolute;
	z-index: 1;
	right: 0;
}
div.desktop div.window div.titlebar div.menu ul {
	margin: 0;
	padding: 0;
}
div.desktop div.window div.titlebar div.menu ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
div.desktop div.window div.titlebar div.menu ul button {
	float: none;
	display: block;
	text-align: left;
	width: 100%;
	color: #202d33;
	/*see filter "Shadow" on msdn (need a border or a background)*/

	/*find on google an htc*/

	border-radius: 0;
	/*filter transition does'nt work like CSS3 transitions*/

	/*filter transition does'nt work like CSS3 transitions*/

}
div.desktop div.window div.titlebar div.menu ul button:hover {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#7f0080ff" , endColorstr= "#7f0080ff" ,GradientType=0 );
}
div.desktop div.window div.titlebar div.menu ul hr {
	margin: 0.5ex 1ex;
}
div.desktop div.window div.titlebar div.menu:hover, div.desktop div.window div.titlebar button.options:focus + div.menu, div.desktop div.window div.titlebar button.options.focus + div.menu {
	display: block;
}
div.desktop div.window .content {
	display: block;
	border: solid 1px #c0c0c0;
	overflow: auto;
	position: absolute;
	top: 2em;
	left: 0.5ex;
	right: 0.5ex;
	bottom: 0.5ex;
	/*find on google an htc*/

	border-radius: 0 0 0.75ex 0.75ex;
}
div.desktop div.window .content iframe {
	border: none 0;
	width: 100%;
	height: 100%;
	display: block;
	/*find on google an htc*/

	border-radius: 0 0 1ex 1ex;
}
body.javascript div.desktop div.window {
	resize: none;
}
body.javascript div.desktop div.window .bottomResizer, body.javascript div.desktop div.window .leftResizer, body.javascript div.desktop div.window .rightResizer {
	position: absolute;
	bottom: 0;
}
body.javascript div.desktop div.window .bottomResizer {
	cursor: s-resize;
	height: 0.5ex;
	left: 0;
	right: 0;
}
body.javascript div.desktop div.window .leftResizer, body.javascript div.desktop div.window .rightResizer {
	width: 0.5ex;
	top: 0;
}
body.javascript div.desktop div.window .leftResizer {
	cursor: w-resize;
	left: 0;
}
body.javascript div.desktop div.window .rightResizer {
	cursor: e-resize;
	right: 0;
}
div.desktop.childmaximized div.window.maximized {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1;
	box-sizing: border-box;
}
div.desktop div.windowshadow {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#7fc0c0c0" , endColorstr= "#7fc0c0c0" ,GradientType=0 );
	margin: 1em;
}
div.desktop div.glassPane {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	display: none;
	/*background-image	: url("data:image/gif;base64,");/**/

}
