#content #description_myMed {
	padding: 0 3% 0 4%;
	width: 43%;
	text-align: center;
}
#content #description_myMed, #content #login_subscribe {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
#content #description_myMed img {
	width: 100%;
}
#content #login_subscribe {
	overflow: hidden;
	width: 43%;
	padding: 0 4% 0 3%;
}
#content #login_subscribe div.subscribe {
	overflow: hidden;
}
#content #login_subscribe div.subscribe form {
	text-align: center;
}
#content #login_subscribe div.subscribe form > div {
	display: table;
	width: 100%;
	text-align: left;
}
#content #login_subscribe div.subscribe form > div > div {
	display: table-row;
}
#content #login_subscribe div.subscribe form > div > div > * {
	display: table-cell;
	margin: 0.2ex;
}
#content #login_subscribe div.subscribe form label:after {
	content: "\A0:";
}
#content #login_subscribe div.subscribe form button {
	margin: 2em;
	/*
	background-image	: url("../img/inscription.png");
	height	: 24px;
	width	: 80px;
	border	: 0;
	cursor	: pointer;
}
#content #login_subscribe div.subscribe form button span {
	display	: none;*/

}
#content #login_subscribe div.login div.buttonList ul, #content #login_subscribe div.login div.buttonList ul li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
}
#content #login_subscribe div.login div.buttonList {
	position: relative;
}
#content #login_subscribe div.login div.buttonList div.main {
	width: 100%;
	padding: 0.3333ex;
	padding-right: 3ex;
	/*
	border		: 1px solid #C6D4DB;
	background-color	: #fcfcfc;*/

	border: 1px solid #0080ff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#bf50c0ff" , endColorstr= "#bf50c0ff" ,GradientType=0 );
	position: relative;
	/*find on google an htc*/

	border-radius: 1ex;
}
#content #login_subscribe div.login div.buttonList div.main:after {
	/*
	content		: "...";
	font-size	: 200%;
	line-height	: 10px;*/

	content: " ▼";
	line-height: 24px;
	color: #00c;
	position: absolute;
	right: 1ex;
	cursor: default;
}
/*
#content #login_subscribe div.login div.buttonList:hover div.main:after {
	content	: "";
}/*
#content #login_subscribe div.login div.buttonList div.main:before {
	content		: " ►";
	color		: #00c;
}
#content #login_subscribe div.login div.buttonList:hover div.main:before {
	content	: " ▼";
}*/
#content #login_subscribe div.login div.buttonList:hover div.main {
	/*find on google an htc*/

	border-radius: 1ex 1ex 0 0;
	border-bottom-color: #fff;
	padding-bottom: 0;
	margin-bottom: 0.3333ex;
}
#content #login_subscribe div.login div.buttonList div.minor {
	display: none;
	position: absolute;
	width: 100%;
	top: 100%;
	margin-top: -1px;
	padding: 0.3333ex;
	padding-right: 3ex;
	padding-top: 0;
	/*
	background-color	: #fcfcfc;
	border		: 1px solid #C6D4DB;*/

	border: 1px solid #0080ff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#bf50c0ff" , endColorstr= "#bf50c0ff" ,GradientType=0 );
	background-image: url("data:image/gif;base64,");
	border-top: 0 none;
	z-index: 2;
	/*find on google an htc*/

	border-radius: 0 0 1ex 1ex;
}
#content #login_subscribe div.login div.buttonList:hover div.minor {
	display: block;
}
#content #login_subscribe div.login ul, #content #login_subscribe div.login ul li {
	margin: 0;
	padding: 0;
}
#content #login_subscribe div.login ul li {
	list-style: none;
	display: inline;
	overflow: hidden;
}
#content #login_subscribe div.login ul li a, #content #login_subscribe div.login ul li form {
	display: inline-block;
	vertical-align: middle;
	margin: 0.3333ex;
}
#content #login_subscribe div.login ul li form.openid {
	height: 22px;
	border: solid 1px #777777;
	/*find on google an htc*/

	border-radius: 0.7ex;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#959595" , endColorstr= "#848484" ,GradientType=0 );
}
#content #login_subscribe div.login ul li form.openid * {
	vertical-align: top;
}
#content #login_subscribe div.login ul li form.openid label {
	background-image: url("../img/icon/openid.png");
	width: 22px;
	height: 22px;
	border-right: solid 1px #777777;
	display: inline-block;
}
#content #login_subscribe div.login ul li form.openid div {
	display: inline-block;
}
#content #login_subscribe div.login ul li form.openid button span, #content #login_subscribe div.login ul li form.openid label span {
	display: none;
}
#content #login_subscribe div.login ul li form.openid input {
	height: 16px;
	width: 158px;
	border: none 0;
	margin: 0;
	padding: 3px 0.6666ex;
	border-right: solid 1px #777777;
	/*find on google an htc*/

	border-radius: 0;
}
#content #login_subscribe div.login ul li form.openid input:focus {
	/*see filter "Shadow" on msdn (need a border or a background)*/

}
#content #login_subscribe div.login ul li form.openid button {
	background: none transparent;
	filter: none;
	padding: 0;
	border: 0 none;
	border-left: solid 1px #959595;
	width: 54px;
	height: 22px;
	cursor: pointer;
	font-weight: normal;
	color: #000;
	/*find on google an htc*/

	border-radius: 0;
	/*see filter "Shadow" on msdn (need a border or a background)*/

}
#content #login_subscribe div.login ul li form.openid button:active {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#848484" , endColorstr= "#959595" ,GradientType=0 );
}
#content #login_subscribe div.login ul li form.openid button:after {
	content: "OpenId";
}
#content #login_subscribe div.login ul li form.openid button::-moz-focus-inner {
	padding: 0;
	border: 0 none;
}
#content #login_subscribe div.login ul li a {
	display: inline-block;
	width: 78px;
	height: 22px;
	border: solid 1px;
	text-decoration: none;
	/*find on google an htc*/

	border-radius: 0.7ex;
	position: relative;
}
#content #login_subscribe div.login ul li a:hover {
	/*see filter "Shadow" on msdn (need no border and no background)*/
	/*
	@msFilter	: `"progid:DXImageTransform.Microsoft.DropShadow(OffX=@{xOffset}, OffY=@{yOffset}, Color=@{color})"`;
	filter: @msFilter;*/

}
#content #login_subscribe div.login ul li a:after {
	/*see filter "Shadow" on msdn (need a border or a background)*/

	/*find on google an htc*/

	border-radius: 0.7ex;
	content: "";
	width: 80px;
	height: 24px;
	display: block;
	top: -1px;
	left: -1px;
	position: absolute;
}
#content #login_subscribe div.login ul li a:active:after {
	/*see filter "Shadow" on msdn (need a border or a background)*/

}
#content #login_subscribe div.login ul li a:before {
	display: block;
	width: 22px;
	height: 22px;
	float: left;
	border-right: solid 1px;
	background-position: center;
	background-repeat: no-repeat;
	content: " ";
}
@font-face {
	font-family: "DejaVu Sans";
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/DejaVuSans.eot');
	src: local("DejaVu Sans"), url('../fonts/DejaVuSans.ttf'), url('../fonts/DejaVuSans.eot');
}
@font-face {
	font-family: "DejaVu Sans";
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/DejaVuSans-Bold.eot');
	src: local("DejaVu Sans Bold"), url('../fonts/DejaVuSans-Bold.ttf'), url('../fonts/DejaVuSans-Bold.eot');
}
@font-face {
	font-family: "DejaVu Sans";
	font-style: italic;
	font-weight: bold;
	src: url('../fonts/DejaVuSans-BoldOblique.eot');
	src: local("DejaVu Sans BoldOblique"), url('../fonts/DejaVuSans-BoldOblique.ttf'), url('../fonts/DejaVuSans-BoldOblique.eot');
}
@font-face {
	font-family: "DejaVu Sans";
	font-style: italic;
	font-weight: normal;
	src: url('../fonts/DejaVuSans-Oblique.eot');
	src: local("DejaVu Sans Oblique"), url('../fonts/DejaVuSans-Oblique.ttf'), url('../fonts/DejaVuSans-Oblique.eot');
}
@font-face {
	font-family: "Times";
	font-style: normal;
	font-weight: bold;
	src: local("Times Bold"), local("Free Serif Bold"), url('../fonts/FreeSerifBold.ttf'), url('../fonts/FreeSerifBold.eot');
}
#content #login_subscribe div.login ul li a span {
	font-family: "DejaVu Sans";
	color: #fff;
	display: block;
	overflow: hidden;
	text-align: center;
	line-height: 22px;
	font-size: 12px;
	border-left: solid 1px;
}
#content #login_subscribe div.login ul li a.facebook {
	color: #465d8f;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#5d76ae" , endColorstr= "#4e689f" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.google {
	color: #82b46c;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#b1dc97" , endColorstr= "#95c57e" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.mymed {
	color: #337099;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#7db1d3" , endColorstr= "#3c85b5" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.twitter {
	color: #398282;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#5cb7b7" , endColorstr= "#439c9c" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.yahoo {
	color: #d3cc55;
	background-image: url("../img/icon/yahoo_text.png");
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#f4ea56" , endColorstr= "#e2da56" ,GradientType=0 );
	background-repeat: no-repeat;
	background-position: center right;
}
#content #login_subscribe div.login ul li a.aol {
	color: #e4d000;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#ffeb1d" , endColorstr= "#fee800" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.myopenid {
	color: #7fc72a;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#9ad950" , endColorstr= "#8cd437" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.orange {
	color: #cb5506;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#f76b0e" , endColorstr= "#e25f07" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.steam {
	color: #252525;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#2f2f2f" , endColorstr= "#2a2a2a" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.verisign {
	color: #c6c6c6;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#ececec" , endColorstr= "#d6d6d6" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.wordpress {
	color: #e5e5e5;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#ffffff" , endColorstr= "#f1f1f1" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.liveid {
	color: #72c0ff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#90cdff" , endColorstr= "#80c6ff" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.myspace {
	color: #171717;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#474747" , endColorstr= "#2c2c2c" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.facebook:active {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#4e689f" , endColorstr= "#5d76ae" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.google:active {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#95c57e" , endColorstr= "#b1dc97" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.mymed:active {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#3c85b5" , endColorstr= "#7db1d3" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.twitter:active {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#439c9c" , endColorstr= "#5cb7b7" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.yahoo:active {
	background-image: url("../img/icon/yahoo_text.png");
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#e2da56" , endColorstr= "#f4ea56" ,GradientType=0 );
	background-repeat: no-repeat;
	background-position: center right;
}
#content #login_subscribe div.login ul li a.aol:active {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#fee800" , endColorstr= "#ffeb1d" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.myopenid:active {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#8cd437" , endColorstr= "#9ad950" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.orange:active {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#e25f07" , endColorstr= "#f76b0e" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.steam:active {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#2a2a2a" , endColorstr= "#2f2f2f" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.verisign:active {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#d6d6d6" , endColorstr= "#ececec" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.wordpress:active {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#f1f1f1" , endColorstr= "#ffffff" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.liveid:active {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#80c6ff" , endColorstr= "#90cdff" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.myspace:active {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#2c2c2c" , endColorstr= "#474747" ,GradientType=0 );
}
#content #login_subscribe div.login ul li a.facebook:before {
	background-image: url("../img/icon/facebook.png");
}
#content #login_subscribe div.login ul li a.google:before {
	background-image: url("../img/icon/google_c.png");
}
#content #login_subscribe div.login ul li a.mymed:before {
	background-image: url("../img/icon/mymed_c.png");
}
#content #login_subscribe div.login ul li a.twitter:before {
	background-image: url("../img/icon/twitter_simple_c.png");
}
#content #login_subscribe div.login ul li a.yahoo:before {
	background-image: url("../img/icon/yahoo.png");
}
#content #login_subscribe div.login ul li a.aol:before {
	background-image: url("../img/icon/aol.png");
}
#content #login_subscribe div.login ul li a.myopenid:before {
	background-image: url("../img/icon/myopenid_c.png");
}
#content #login_subscribe div.login ul li a.orange:before {
	background-image: url("../img/icon/orange.png");
}
#content #login_subscribe div.login ul li a.steam:before {
	background-image: url("../img/icon/steam_c.png");
}
#content #login_subscribe div.login ul li a.verisign:before {
	background-image: url("../img/icon/verisign_c.png");
}
#content #login_subscribe div.login ul li a.wordpress:before {
	background-image: url("../img/icon/wordpress_c.png");
}
#content #login_subscribe div.login ul li a.liveid:before {
	background-image: url("../img/icon/liveid.png");
}
#content #login_subscribe div.login ul li a.myspace:before {
	background-image: url("../img/icon/myspace_c.png");
}
#content #login_subscribe div.login ul li a.facebook span {
	border-color: #5d76ae;
}
#content #login_subscribe div.login ul li a.google span {
	border-color: #b1dc97;
}
#content #login_subscribe div.login ul li a.mymed span {
	border-color: #7db1d3;
}
#content #login_subscribe div.login ul li a.twitter span {
	border-color: #5cb7b7;
}
#content #login_subscribe div.login ul li a.yahoo span {
	border-color: #f4ea56;
}
#content #login_subscribe div.login ul li a.aol span {
	border-color: #ffeb1d;
}
#content #login_subscribe div.login ul li a.myopenid span {
	border-color: #9ad950;
}
#content #login_subscribe div.login ul li a.orange span {
	border-color: #f76b0e;
}
#content #login_subscribe div.login ul li a.steam span {
	border-color: #2f2f2f;
}
#content #login_subscribe div.login ul li a.verisign span {
	border-color: #ececec;
}
#content #login_subscribe div.login ul li a.wordpress span {
	border-color: #ffffff;
}
#content #login_subscribe div.login ul li a.liveid span {
	border-color: #90cdff;
}
#content #login_subscribe div.login ul li a.myspace span {
	border-color: #474747;
}
#content #login_subscribe div.login ul li a.facebook span {
	font-size: 11px;
	font-weight: bold;
	letter-spacing: -1px;
}
#content #login_subscribe div.login ul li a.google span {
	/*see filter "Shadow" on msdn (need no border and no background)*/
	/*
	@msFilter	: `"progid:DXImageTransform.Microsoft.DropShadow(OffX=@{xOffset}, OffY=@{yOffset}, Color=@{color})"`;
	filter: @msFilter;*/

}
#content #login_subscribe div.login ul li a.mymed span {
	font-style: italic;
	font-weight: bold;
}
#content #login_subscribe div.login ul li a.twitter span {
	font-size: 11px;
	/*see filter "Shadow" on msdn (need no border and no background)*/
	/*
	@msFilter	: `"progid:DXImageTransform.Microsoft.DropShadow(OffX=@{xOffset}, OffY=@{yOffset}, Color=@{color})"`;
	filter: @msFilter;*/

}
#content #login_subscribe div.login ul li a.yahoo span {
	display: none;
}
#content #login_subscribe div.login ul li a.orange span,
#content #login_subscribe div.login ul li a.myopenid span,
#content #login_subscribe div.login ul li a.verisign span,
#content #login_subscribe div.login ul li a.aol span {
	font-family: "Arial", sans-serif;
	font-style: italic;
	color: black;
}
#content #login_subscribe div.login ul li a.myopenid span {
	font-size: 11px;
}
#content #login_subscribe div.login ul li a.steam span {
	font-style: italic;
}
#content #login_subscribe div.login ul li a.wordpress span {
	font-family: "Times";
	color: black;
	font-variant: small-caps;
	font-size: 10px;
	font-weight: bold;
}
#content #login_subscribe div.login ul li a.liveid span {
	color: black;
}
#content #login_subscribe div.login ul li a.myspace span {
	text-transform: lowercase;
}
