#content #description_myMed {
	padding: 0 3% 0 4%;
	width: 43%;
	text-align: center;
}
#content #description_myMed, #content #login_subscribe {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
#content #description_myMed img {
	width: 100%;
}
#content #login_subscribe {
	overflow: hidden;
	width: 43%;
	padding: 0 4% 0 3%;
}
#content #login_subscribe div.subscribe {
	overflow: hidden;
}
#content #login_subscribe div.subscribe form {
	text-align: center;
}
#content #login_subscribe div.subscribe form > div {
	display: table;
	width: 100%;
	text-align: left;
}
#content #login_subscribe div.subscribe form > div > div {
	display: table-row;
}
#content #login_subscribe div.subscribe form > div > div > * {
	display: table-cell;
	margin: 0.2ex;
}
#content #login_subscribe div.subscribe form label:after {
	content: "\A0:";
}
#content #login_subscribe div.subscribe form button {
	margin: 2em;
	/*
	background-image	: url("../img/inscription.png");
	height	: 24px;
	width	: 80px;
	border	: 0;
	cursor	: pointer;
}
#content #login_subscribe div.subscribe form button span {
	display	: none;*/

}
#content #login_subscribe div.login div.buttonList ul, #content #login_subscribe div.login div.buttonList ul li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
}
#content #login_subscribe div.login div.buttonList {
	position: relative;
}
#content #login_subscribe div.login div.buttonList div.main {
	width: 100%;
	padding: 0.3333ex;
	padding-right: 3ex;
	/*
	border		: 1px solid #C6D4DB;
	background-color	: #fcfcfc;*/

	border: 1px solid #0080ff;
	background-color: #50c0ff;
	background-color: rgba(80, 192, 255, 0.75);
	position: relative;
	border-radius: 1ex;
	/*//*/
	-moz-border-radius: 1ex;
	/*//*/
	-o-border-radius: 1ex;
	/*//*/
	-khtml-border-radius: 1ex;
}
#content #login_subscribe div.login div.buttonList div.main:after {
	/*
	content		: "...";
	font-size	: 200%;
	line-height	: 10px;*/

	content: " ▼";
	line-height: 24px;
	color: #00c;
	position: absolute;
	right: 1ex;
	cursor: default;
}
/*
#content #login_subscribe div.login div.buttonList:hover div.main:after {
	content	: "";
}/*
#content #login_subscribe div.login div.buttonList div.main:before {
	content		: " ►";
	color		: #00c;
}
#content #login_subscribe div.login div.buttonList:hover div.main:before {
	content	: " ▼";
}*/
#content #login_subscribe div.login div.buttonList:hover div.main {
	border-radius: 1ex 1ex 0 0;
	/*//*/
	-moz-border-radius: 1ex 1ex 0 0;
	/*//*/
	-o-border-radius: 1ex 1ex 0 0;
	/*//*/
	-khtml-border-radius: 1ex 1ex 0 0;
	border-bottom-color: #fff;
	padding-bottom: 0;
	margin-bottom: 0.3333ex;
}
#content #login_subscribe div.login div.buttonList div.minor {
	display: none;
	position: absolute;
	width: 100%;
	top: 100%;
	margin-top: -1px;
	padding: 0.3333ex;
	padding-right: 3ex;
	padding-top: 0;
	/*
	background-color	: #fcfcfc;
	border		: 1px solid #C6D4DB;*/

	border: 1px solid #0080ff;
	background-color: #50c0ff;
	background-color: rgba(80, 192, 255, 0.75);
	border-top: 0 none;
	z-index: 2;
	border-radius: 0 0 1ex 1ex;
	/*//*/
	-moz-border-radius: 0 0 1ex 1ex;
	/*//*/
	-o-border-radius: 0 0 1ex 1ex;
	/*//*/
	-khtml-border-radius: 0 0 1ex 1ex;
}
#content #login_subscribe div.login div.buttonList:hover div.minor {
	display: block;
}
#content #login_subscribe div.login ul, #content #login_subscribe div.login ul li {
	margin: 0;
	padding: 0;
}
#content #login_subscribe div.login ul li {
	list-style: none;
	display: inline;
	overflow: hidden;
}
#content #login_subscribe div.login ul li a, #content #login_subscribe div.login ul li form {
	display: inline-block;
	vertical-align: middle;
	margin: 0.3333ex;
}
#content #login_subscribe div.login ul li form.openid {
	height: 22px;
	border: solid 1px #777777;
	border-radius: 0.7ex;
	/*//*/
	-moz-border-radius: 0.7ex;
	/*//*/
	-o-border-radius: 0.7ex;
	/*//*/
	-khtml-border-radius: 0.7ex;
	background-color: #8d8d8d;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6Izk1OTU5NTtzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6Izg0ODQ4NDtzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #959595, #848484);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#959595), to(#848484));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #959595, #848484);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #959595, #848484);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #959595, #848484);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #959595, #848484);
	/* W3C */

}
#content #login_subscribe div.login ul li form.openid * {
	vertical-align: top;
}
#content #login_subscribe div.login ul li form.openid label {
	background-image: url("../img/icon/openid.png");
	width: 22px;
	height: 22px;
	border-right: solid 1px #777777;
	display: inline-block;
}
#content #login_subscribe div.login ul li form.openid div {
	display: inline-block;
}
#content #login_subscribe div.login ul li form.openid button span, #content #login_subscribe div.login ul li form.openid label span {
	display: none;
}
#content #login_subscribe div.login ul li form.openid input {
	height: 16px;
	width: 158px;
	border: none 0;
	margin: 0;
	padding: 3px 0.6666ex;
	border-right: solid 1px #777777;
	border-radius: 0;
	/*//*/
	-moz-border-radius: 0;
	/*//*/
	-o-border-radius: 0;
	/*//*/
	-khtml-border-radius: 0;
}
#content #login_subscribe div.login ul li form.openid input:focus {
	box-shadow: 0.3ex 0.3ex 0.3ex #ddccbb inset;
	/*//*/
	-moz-box-shadow: 0.3ex 0.3ex 0.3ex #ddccbb inset;
	/*//*/
	-o-box-shadow: 0.3ex 0.3ex 0.3ex #ddccbb inset;
	/*//*/
	-khtml-box-shadow: 0.3ex 0.3ex 0.3ex #ddccbb inset;
}
#content #login_subscribe div.login ul li form.openid button {
	background: none transparent;
	filter: none;
	padding: 0;
	border: 0 none;
	border-left: solid 1px #959595;
	width: 54px;
	height: 22px;
	cursor: pointer;
	font-weight: normal;
	color: #000;
	border-radius: 0;
	/*//*/
	-moz-border-radius: 0;
	/*//*/
	-o-border-radius: 0;
	/*//*/
	-khtml-border-radius: 0;
	box-shadow: 0 0 0 transparent;
	/*//*/
	-moz-box-shadow: 0 0 0 transparent;
	/*//*/
	-o-box-shadow: 0 0 0 transparent;
	/*//*/
	-khtml-box-shadow: 0 0 0 transparent;
}
#content #login_subscribe div.login ul li form.openid button:active {
	background-color: #8d8d8d;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6Izg0ODQ4NDtzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6Izk1OTU5NTtzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #848484, #959595);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#848484), to(#959595));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #848484, #959595);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #848484, #959595);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #848484, #959595);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #848484, #959595);
	/* W3C */

}
#content #login_subscribe div.login ul li form.openid button:after {
	content: "OpenId";
}
#content #login_subscribe div.login ul li form.openid button::-moz-focus-inner {
	padding: 0;
	border: 0 none;
}
#content #login_subscribe div.login ul li a {
	display: inline-block;
	width: 78px;
	height: 22px;
	border: solid 1px;
	text-decoration: none;
	border-radius: 0.7ex;
	/*//*/
	-moz-border-radius: 0.7ex;
	/*//*/
	-o-border-radius: 0.7ex;
	/*//*/
	-khtml-border-radius: 0.7ex;
	position: relative;
}
#content #login_subscribe div.login ul li a:hover {
	text-shadow: 0 0 1px #ffffff;
	/*//*/
	-moz-text-shadow: 0 0 1px #ffffff;
	/*//*/
	-o-text-shadow: 0 0 1px #ffffff;
	/*//*/
	-khtml-text-shadow: 0 0 1px #ffffff;
}
#content #login_subscribe div.login ul li a:after {
	box-shadow: 0.3ex 0.3ex 0.3ex #eeeeee inset;
	/*//*/
	-moz-box-shadow: 0.3ex 0.3ex 0.3ex #eeeeee inset;
	/*//*/
	-o-box-shadow: 0.3ex 0.3ex 0.3ex #eeeeee inset;
	/*//*/
	-khtml-box-shadow: 0.3ex 0.3ex 0.3ex #eeeeee inset;
	border-radius: 0.7ex;
	/*//*/
	-moz-border-radius: 0.7ex;
	/*//*/
	-o-border-radius: 0.7ex;
	/*//*/
	-khtml-border-radius: 0.7ex;
	content: "";
	width: 80px;
	height: 24px;
	display: block;
	top: -1px;
	left: -1px;
	position: absolute;
}
#content #login_subscribe div.login ul li a:active:after {
	box-shadow: 0.3ex 0.3ex 0.3ex #444444 inset;
	/*//*/
	-moz-box-shadow: 0.3ex 0.3ex 0.3ex #444444 inset;
	/*//*/
	-o-box-shadow: 0.3ex 0.3ex 0.3ex #444444 inset;
	/*//*/
	-khtml-box-shadow: 0.3ex 0.3ex 0.3ex #444444 inset;
}
#content #login_subscribe div.login ul li a:before {
	display: block;
	width: 22px;
	height: 22px;
	float: left;
	border-right: solid 1px;
	background-position: center;
	background-repeat: no-repeat;
	content: " ";
}
@font-face {
	font-family: "DejaVu Sans";
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/DejaVuSans.eot');
	src: local("DejaVu Sans"), url('../fonts/DejaVuSans.ttf'), url('../fonts/DejaVuSans.eot');
}
@font-face {
	font-family: "DejaVu Sans";
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/DejaVuSans-Bold.eot');
	src: local("DejaVu Sans Bold"), url('../fonts/DejaVuSans-Bold.ttf'), url('../fonts/DejaVuSans-Bold.eot');
}
@font-face {
	font-family: "DejaVu Sans";
	font-style: italic;
	font-weight: bold;
	src: url('../fonts/DejaVuSans-BoldOblique.eot');
	src: local("DejaVu Sans BoldOblique"), url('../fonts/DejaVuSans-BoldOblique.ttf'), url('../fonts/DejaVuSans-BoldOblique.eot');
}
@font-face {
	font-family: "DejaVu Sans";
	font-style: italic;
	font-weight: normal;
	src: url('../fonts/DejaVuSans-Oblique.eot');
	src: local("DejaVu Sans Oblique"), url('../fonts/DejaVuSans-Oblique.ttf'), url('../fonts/DejaVuSans-Oblique.eot');
}
@font-face {
	font-family: "Times";
	font-style: normal;
	font-weight: bold;
	src: local("Times Bold"), local("Free Serif Bold"), url('../fonts/FreeSerifBold.ttf'), url('../fonts/FreeSerifBold.eot');
}
#content #login_subscribe div.login ul li a span {
	font-family: "DejaVu Sans";
	color: #fff;
	display: block;
	overflow: hidden;
	text-align: center;
	line-height: 22px;
	font-size: 12px;
	border-left: solid 1px;
}
#content #login_subscribe div.login ul li a.facebook {
	color: #465d8f;
	background-color: #566fa7;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzVkNzZhZTtzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzRlNjg5ZjtzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #5d76ae, #4e689f);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5d76ae), to(#4e689f));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #5d76ae, #4e689f);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #5d76ae, #4e689f);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #5d76ae, #4e689f);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #5d76ae, #4e689f);
	/* W3C */

}
#content #login_subscribe div.login ul li a.google {
	color: #82b46c;
	background-color: #a3d18b;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2IxZGM5NztzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6Izk1YzU3ZTtzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #b1dc97, #95c57e);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b1dc97), to(#95c57e));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #b1dc97, #95c57e);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #b1dc97, #95c57e);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #b1dc97, #95c57e);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #b1dc97, #95c57e);
	/* W3C */

}
#content #login_subscribe div.login ul li a.mymed {
	color: #337099;
	background-color: #5d9bc4;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzdkYjFkMztzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzNjODViNTtzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #7db1d3, #3c85b5);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7db1d3), to(#3c85b5));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #7db1d3, #3c85b5);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #7db1d3, #3c85b5);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #7db1d3, #3c85b5);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #7db1d3, #3c85b5);
	/* W3C */

}
#content #login_subscribe div.login ul li a.twitter {
	color: #398282;
	background-color: #50aaaa;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzVjYjdiNztzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzQzOWM5YztzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #5cb7b7, #439c9c);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb7b7), to(#439c9c));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #5cb7b7, #439c9c);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #5cb7b7, #439c9c);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #5cb7b7, #439c9c);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #5cb7b7, #439c9c);
	/* W3C */

}
#content #login_subscribe div.login ul li a.yahoo {
	color: #d3cc55;
	background-color: #ebe256;
	background-image: url("../img/icon/yahoo_text.png");
	background-image: url("../img/icon/yahoo_text.png"), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2Y0ZWE1NjtzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2UyZGE1NjtzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: url("../img/icon/yahoo_text.png"), -moz-linear-gradient(top, #f4ea56, #e2da56);
	/* FF3.6+ */

	/*//*/
	background-image: url("../img/icon/yahoo_text.png"), -webkit-gradient(linear, left top, left bottom, from(#f4ea56), to(#e2da56));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: url("../img/icon/yahoo_text.png"), -webkit-linear-gradient(top, #f4ea56, #e2da56);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: url("../img/icon/yahoo_text.png"), -o-linear-gradient(top, #f4ea56, #e2da56);
	/* Opera11.10+ */

	/*//*/
	background-image: url("../img/icon/yahoo_text.png"), -ms-linear-gradient(top, #f4ea56, #e2da56);
	/* IE10+ */

	/*//*/
	background-image: url("../img/icon/yahoo_text.png"), linear-gradient(top, #f4ea56, #e2da56);
	/* W3C */

	background-repeat: no-repeat;
	background-position: center right;
}
#content #login_subscribe div.login ul li a.aol {
	color: #e4d000;
	background-color: #ffea0f;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2ZmZWIxZDtzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2ZlZTgwMDtzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #ffeb1d, #fee800);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffeb1d), to(#fee800));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #ffeb1d, #fee800);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #ffeb1d, #fee800);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #ffeb1d, #fee800);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #ffeb1d, #fee800);
	/* W3C */

}
#content #login_subscribe div.login ul li a.myopenid {
	color: #7fc72a;
	background-color: #93d744;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzlhZDk1MDtzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzhjZDQzNztzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #9ad950, #8cd437);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#9ad950), to(#8cd437));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #9ad950, #8cd437);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #9ad950, #8cd437);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #9ad950, #8cd437);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #9ad950, #8cd437);
	/* W3C */

}
#content #login_subscribe div.login ul li a.orange {
	color: #cb5506;
	background-color: #ed650b;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2Y3NmIwZTtzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2UyNWYwNztzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #f76b0e, #e25f07);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f76b0e), to(#e25f07));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #f76b0e, #e25f07);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #f76b0e, #e25f07);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #f76b0e, #e25f07);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #f76b0e, #e25f07);
	/* W3C */

}
#content #login_subscribe div.login ul li a.steam {
	color: #252525;
	background-color: #2d2d2d;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzJmMmYyZjtzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzJhMmEyYTtzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #2f2f2f, #2a2a2a);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2f2f2f), to(#2a2a2a));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #2f2f2f, #2a2a2a);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #2f2f2f, #2a2a2a);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #2f2f2f, #2a2a2a);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #2f2f2f, #2a2a2a);
	/* W3C */

}
#content #login_subscribe div.login ul li a.verisign {
	color: #c6c6c6;
	background-color: #e1e1e1;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2VjZWNlYztzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2Q2ZDZkNjtzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #ececec, #d6d6d6);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(#d6d6d6));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #ececec, #d6d6d6);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #ececec, #d6d6d6);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #ececec, #d6d6d6);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #ececec, #d6d6d6);
	/* W3C */

}
#content #login_subscribe div.login ul li a.wordpress {
	color: #e5e5e5;
	background-color: #f8f8f8;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2ZmZmZmZjtzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2YxZjFmMTtzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #ffffff, #f1f1f1);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #ffffff, #f1f1f1);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #ffffff, #f1f1f1);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #ffffff, #f1f1f1);
	/* W3C */

}
#content #login_subscribe div.login ul li a.liveid {
	color: #72c0ff;
	background-color: #88caff;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzkwY2RmZjtzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzgwYzZmZjtzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #90cdff, #80c6ff);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#90cdff), to(#80c6ff));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #90cdff, #80c6ff);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #90cdff, #80c6ff);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #90cdff, #80c6ff);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #90cdff, #80c6ff);
	/* W3C */

}
#content #login_subscribe div.login ul li a.myspace {
	color: #171717;
	background-color: #3a3a3a;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzQ3NDc0NztzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzJjMmMyYztzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #474747, #2c2c2c);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#474747), to(#2c2c2c));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #474747, #2c2c2c);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #474747, #2c2c2c);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #474747, #2c2c2c);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #474747, #2c2c2c);
	/* W3C */

}
#content #login_subscribe div.login ul li a.facebook:active {
	background-color: #566fa7;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzRlNjg5ZjtzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzVkNzZhZTtzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #4e689f, #5d76ae);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4e689f), to(#5d76ae));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #4e689f, #5d76ae);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #4e689f, #5d76ae);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #4e689f, #5d76ae);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #4e689f, #5d76ae);
	/* W3C */

}
#content #login_subscribe div.login ul li a.google:active {
	background-color: #a3d18b;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6Izk1YzU3ZTtzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2IxZGM5NztzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #95c57e, #b1dc97);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#95c57e), to(#b1dc97));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #95c57e, #b1dc97);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #95c57e, #b1dc97);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #95c57e, #b1dc97);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #95c57e, #b1dc97);
	/* W3C */

}
#content #login_subscribe div.login ul li a.mymed:active {
	background-color: #5d9bc4;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzNjODViNTtzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzdkYjFkMztzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #3c85b5, #7db1d3);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3c85b5), to(#7db1d3));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #3c85b5, #7db1d3);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #3c85b5, #7db1d3);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #3c85b5, #7db1d3);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #3c85b5, #7db1d3);
	/* W3C */

}
#content #login_subscribe div.login ul li a.twitter:active {
	background-color: #50aaaa;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzQzOWM5YztzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzVjYjdiNztzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #439c9c, #5cb7b7);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#439c9c), to(#5cb7b7));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #439c9c, #5cb7b7);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #439c9c, #5cb7b7);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #439c9c, #5cb7b7);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #439c9c, #5cb7b7);
	/* W3C */

}
#content #login_subscribe div.login ul li a.yahoo:active {
	background-color: #ebe256;
	background-image: url("../img/icon/yahoo_text.png");
	background-image: url("../img/icon/yahoo_text.png"), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2UyZGE1NjtzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2Y0ZWE1NjtzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: url("../img/icon/yahoo_text.png"), -moz-linear-gradient(top, #e2da56, #f4ea56);
	/* FF3.6+ */

	/*//*/
	background-image: url("../img/icon/yahoo_text.png"), -webkit-gradient(linear, left top, left bottom, from(#e2da56), to(#f4ea56));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: url("../img/icon/yahoo_text.png"), -webkit-linear-gradient(top, #e2da56, #f4ea56);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: url("../img/icon/yahoo_text.png"), -o-linear-gradient(top, #e2da56, #f4ea56);
	/* Opera11.10+ */

	/*//*/
	background-image: url("../img/icon/yahoo_text.png"), -ms-linear-gradient(top, #e2da56, #f4ea56);
	/* IE10+ */

	/*//*/
	background-image: url("../img/icon/yahoo_text.png"), linear-gradient(top, #e2da56, #f4ea56);
	/* W3C */

	background-repeat: no-repeat;
	background-position: center right;
}
#content #login_subscribe div.login ul li a.aol:active {
	background-color: #ffea0f;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2ZlZTgwMDtzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2ZmZWIxZDtzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #fee800, #ffeb1d);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fee800), to(#ffeb1d));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #fee800, #ffeb1d);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #fee800, #ffeb1d);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #fee800, #ffeb1d);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #fee800, #ffeb1d);
	/* W3C */

}
#content #login_subscribe div.login ul li a.myopenid:active {
	background-color: #93d744;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzhjZDQzNztzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzlhZDk1MDtzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #8cd437, #9ad950);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8cd437), to(#9ad950));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #8cd437, #9ad950);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #8cd437, #9ad950);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #8cd437, #9ad950);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #8cd437, #9ad950);
	/* W3C */

}
#content #login_subscribe div.login ul li a.orange:active {
	background-color: #ed650b;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2UyNWYwNztzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2Y3NmIwZTtzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #e25f07, #f76b0e);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e25f07), to(#f76b0e));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #e25f07, #f76b0e);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #e25f07, #f76b0e);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #e25f07, #f76b0e);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #e25f07, #f76b0e);
	/* W3C */

}
#content #login_subscribe div.login ul li a.steam:active {
	background-color: #2d2d2d;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzJhMmEyYTtzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzJmMmYyZjtzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #2a2a2a, #2f2f2f);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2a2a2a), to(#2f2f2f));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #2a2a2a, #2f2f2f);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #2a2a2a, #2f2f2f);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #2a2a2a, #2f2f2f);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #2a2a2a, #2f2f2f);
	/* W3C */

}
#content #login_subscribe div.login ul li a.verisign:active {
	background-color: #e1e1e1;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2Q2ZDZkNjtzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2VjZWNlYztzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #d6d6d6, #ececec);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d6d6d6), to(#ececec));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #d6d6d6, #ececec);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #d6d6d6, #ececec);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #d6d6d6, #ececec);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #d6d6d6, #ececec);
	/* W3C */

}
#content #login_subscribe div.login ul li a.wordpress:active {
	background-color: #f8f8f8;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2YxZjFmMTtzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2ZmZmZmZjtzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #f1f1f1, #ffffff);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#ffffff));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #f1f1f1, #ffffff);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #f1f1f1, #ffffff);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #f1f1f1, #ffffff);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #f1f1f1, #ffffff);
	/* W3C */

}
#content #login_subscribe div.login ul li a.liveid:active {
	background-color: #88caff;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzgwYzZmZjtzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzkwY2RmZjtzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #80c6ff, #90cdff);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#80c6ff), to(#90cdff));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #80c6ff, #90cdff);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #80c6ff, #90cdff);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #80c6ff, #90cdff);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #80c6ff, #90cdff);
	/* W3C */

}
#content #login_subscribe div.login ul li a.myspace:active {
	background-color: #3a3a3a;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzJjMmMyYztzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzQ3NDc0NztzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #2c2c2c, #474747);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2c2c2c), to(#474747));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #2c2c2c, #474747);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #2c2c2c, #474747);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #2c2c2c, #474747);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #2c2c2c, #474747);
	/* W3C */

}
#content #login_subscribe div.login ul li a.facebook:before {
	background-image: url("../img/icon/facebook.png");
}
#content #login_subscribe div.login ul li a.google:before {
	background-image: url("../img/icon/google_c.png");
}
#content #login_subscribe div.login ul li a.mymed:before {
	background-image: url("../img/icon/mymed_c.png");
}
#content #login_subscribe div.login ul li a.twitter:before {
	background-image: url("../img/icon/twitter_simple_c.png");
}
#content #login_subscribe div.login ul li a.yahoo:before {
	background-image: url("../img/icon/yahoo.png");
}
#content #login_subscribe div.login ul li a.aol:before {
	background-image: url("../img/icon/aol.png");
}
#content #login_subscribe div.login ul li a.myopenid:before {
	background-image: url("../img/icon/myopenid_c.png");
}
#content #login_subscribe div.login ul li a.orange:before {
	background-image: url("../img/icon/orange.png");
}
#content #login_subscribe div.login ul li a.steam:before {
	background-image: url("../img/icon/steam_c.png");
}
#content #login_subscribe div.login ul li a.verisign:before {
	background-image: url("../img/icon/verisign_c.png");
}
#content #login_subscribe div.login ul li a.wordpress:before {
	background-image: url("../img/icon/wordpress_c.png");
}
#content #login_subscribe div.login ul li a.liveid:before {
	background-image: url("../img/icon/liveid.png");
}
#content #login_subscribe div.login ul li a.myspace:before {
	background-image: url("../img/icon/myspace_c.png");
}
#content #login_subscribe div.login ul li a.facebook span {
	border-color: #5d76ae;
}
#content #login_subscribe div.login ul li a.google span {
	border-color: #b1dc97;
}
#content #login_subscribe div.login ul li a.mymed span {
	border-color: #7db1d3;
}
#content #login_subscribe div.login ul li a.twitter span {
	border-color: #5cb7b7;
}
#content #login_subscribe div.login ul li a.yahoo span {
	border-color: #f4ea56;
}
#content #login_subscribe div.login ul li a.aol span {
	border-color: #ffeb1d;
}
#content #login_subscribe div.login ul li a.myopenid span {
	border-color: #9ad950;
}
#content #login_subscribe div.login ul li a.orange span {
	border-color: #f76b0e;
}
#content #login_subscribe div.login ul li a.steam span {
	border-color: #2f2f2f;
}
#content #login_subscribe div.login ul li a.verisign span {
	border-color: #ececec;
}
#content #login_subscribe div.login ul li a.wordpress span {
	border-color: #ffffff;
}
#content #login_subscribe div.login ul li a.liveid span {
	border-color: #90cdff;
}
#content #login_subscribe div.login ul li a.myspace span {
	border-color: #474747;
}
#content #login_subscribe div.login ul li a.facebook span {
	font-size: 11px;
	font-weight: bold;
	letter-spacing: -1px;
}
#content #login_subscribe div.login ul li a.google span {
	text-shadow: 1px -1px 0 #aaaaaa;
	/*//*/
	-moz-text-shadow: 1px -1px 0 #aaaaaa;
	/*//*/
	-o-text-shadow: 1px -1px 0 #aaaaaa;
	/*//*/
	-khtml-text-shadow: 1px -1px 0 #aaaaaa;
}
#content #login_subscribe div.login ul li a.mymed span {
	font-style: italic;
	font-weight: bold;
}
#content #login_subscribe div.login ul li a.twitter span {
	font-size: 11px;
	text-shadow: 0 -1px 0 #3a8787;
	/*//*/
	-moz-text-shadow: 0 -1px 0 #3a8787;
	/*//*/
	-o-text-shadow: 0 -1px 0 #3a8787;
	/*//*/
	-khtml-text-shadow: 0 -1px 0 #3a8787;
}
#content #login_subscribe div.login ul li a.yahoo span {
	display: none;
}
#content #login_subscribe div.login ul li a.orange span,
#content #login_subscribe div.login ul li a.myopenid span,
#content #login_subscribe div.login ul li a.verisign span,
#content #login_subscribe div.login ul li a.aol span {
	font-family: "Arial", sans-serif;
	font-style: italic;
	color: black;
}
#content #login_subscribe div.login ul li a.myopenid span {
	font-size: 11px;
}
#content #login_subscribe div.login ul li a.steam span {
	font-style: italic;
}
#content #login_subscribe div.login ul li a.wordpress span {
	font-family: "Times";
	color: black;
	font-variant: small-caps;
	font-size: 10px;
	font-weight: bold;
}
#content #login_subscribe div.login ul li a.liveid span {
	color: black;
}
#content #login_subscribe div.login ul li a.myspace span {
	text-transform: lowercase;
}
