@font-face {
	font-family: "DejaVu Sans";
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/DejaVuSans.eot');
	src: local("DejaVu Sans"), url('../fonts/DejaVuSans.ttf'), url('../fonts/DejaVuSans.eot');
}
@font-face {
	font-family: "DejaVu Sans";
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/DejaVuSans-Bold.eot');
	src: local("DejaVu Sans Bold"), url('../fonts/DejaVuSans-Bold.ttf'), url('../fonts/DejaVuSans-Bold.eot');
}
@font-face {
	font-family: "DejaVu Sans";
	font-style: italic;
	font-weight: bold;
	src: url('../fonts/DejaVuSans-BoldOblique.eot');
	src: local("DejaVu Sans BoldOblique"), url('../fonts/DejaVuSans-BoldOblique.ttf'), url('../fonts/DejaVuSans-BoldOblique.eot');
}
@font-face {
	font-family: "DejaVu Sans";
	font-style: italic;
	font-weight: normal;
	src: url('../fonts/DejaVuSans-Oblique.eot');
	src: local("DejaVu Sans Oblique"), url('../fonts/DejaVuSans-Oblique.ttf'), url('../fonts/DejaVuSans-Oblique.eot');
}
@font-face {
	font-family: "Times";
	font-style: normal;
	font-weight: bold;
	src: local("Times Bold"), local("FreeSerif Bold"), url('../fonts/FreeSerifBold.ttf'), url('../fonts/FreeSerifBold.eot');
}
@font-face {
	font-family: "FreeSerif";
	font-style: normal;
	font-weight: bold;
	src: local("FreeSerif Bold"), url('../fonts/FreeSerifBold.ttf'), url('../fonts/FreeSerifBold.eot');
}
@font-face {
	font-family: "OpenSymbol";
	font-style: normal;
	font-weight: normal;
	src: local("OpenSymbol"), url('../fonts/OpenSymbol.ttf'), url('../fonts/OpenSymbol.eot');
}
