html, body {
	margin: 0;
	padding: 0;
	border: 0 none;
	height: 100%;
	overflow: auto;
	position: relative;
	font-size: 92%;
}
div.body {
	border-radius: 0 0 0.5ex 0.5ex;
	/*//*/
	-moz-border-radius: 0 0 0.5ex 0.5ex;
	/*//*/
	-o-border-radius: 0 0 0.5ex 0.5ex;
	/*//*/
	-khtml-border-radius: 0 0 0.5ex 0.5ex;
	overflow: hidden;
	background-color: white;
	height: 100%;
	font-family: serif, "OpenSymbol";
}
/***** TITLES (<hx>) *****/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: sans-serif, "OpenSymbol";
	color: #203068;
	text-shadow: 0.1px 0.1px 0.5px #cccccc;
	/*//*/
	-moz-text-shadow: 0.1px 0.1px 0.5px #cccccc;
	/*//*/
	-o-text-shadow: 0.1px 0.1px 0.5px #cccccc;
	/*//*/
	-khtml-text-shadow: 0.1px 0.1px 0.5px #cccccc;
	font-weight: bold;
}
h1 {
	font-size: 200%;
	margin: 0.67em 0;
}
h2 {
	font-size: 150%;
	margin: 0.83em 0;
}
h3 {
	font-size: 117%;
	margin: 1.00em 0;
}
h4 {
	font-size: 100%;
	margin: 1.33em 0;
}
h5 {
	font-size: 83%;
	margin: 1.67em 0;
}
h6 {
	font-size: 67%;
	margin: 2.33em 0;
}
/***** FORM *****/
input, select {
	border: solid 1px #666;
	background-color: #fff;
	box-shadow: 0.3ex 0.3ex 0.3ex #cccccc inset;
	/*//*/
	-moz-box-shadow: 0.3ex 0.3ex 0.3ex #cccccc inset;
	/*//*/
	-o-box-shadow: 0.3ex 0.3ex 0.3ex #cccccc inset;
	/*//*/
	-khtml-box-shadow: 0.3ex 0.3ex 0.3ex #cccccc inset;
	border-radius: 0.5ex;
	/*//*/
	-moz-border-radius: 0.5ex;
	/*//*/
	-o-border-radius: 0.5ex;
	/*//*/
	-khtml-border-radius: 0.5ex;
}
input {
	padding: 0.4ex;
	width: 12em;
}
input:focus, select:focus {
	border: solid 1px #06c;
	box-shadow: 0 0 0 transparent, 0.3ex 0.3ex 0.3ex #0066cc inset;
	/*//*/
	-moz-box-shadow: 0 0 0 transparent, 0.3ex 0.3ex 0.3ex #0066cc inset;
	/*//*/
	-o-box-shadow: 0 0 0 transparent, 0.3ex 0.3ex 0.3ex #0066cc inset;
	/*//*/
	-khtml-box-shadow: 0 0 0 transparent, 0.3ex 0.3ex 0.3ex #0066cc inset;
}
input:invalid, select:invalid {
	border: solid 1px #600;
	box-shadow: 0.3ex 0.3ex 0.3ex #cc0000 inset;
	/*//*/
	-moz-box-shadow: 0.3ex 0.3ex 0.3ex #cc0000 inset;
	/*//*/
	-o-box-shadow: 0.3ex 0.3ex 0.3ex #cc0000 inset;
	/*//*/
	-khtml-box-shadow: 0.3ex 0.3ex 0.3ex #cc0000 inset;
}
input[type=button],
input[type=submit],
input[type=reset],
button {
	cursor: pointer;
	border: solid 1px #337099;
	font-family: sans-serif, "OpenSymbol";
	font-size: 85%;
	font-style: italic;
	font-weight: bold;
	color: #fff;
	padding: 0.7ex 1ex;
	width: auto;
	background-color: #5d9bc4;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzdkYjFkMztzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzNjODViNTtzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #7db1d3, #3c85b5);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7db1d3), to(#3c85b5));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #7db1d3, #3c85b5);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #7db1d3, #3c85b5);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #7db1d3, #3c85b5);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #7db1d3, #3c85b5);
	/* W3C */

	border-radius: 0.5ex;
	/*//*/
	-moz-border-radius: 0.5ex;
	/*//*/
	-o-border-radius: 0.5ex;
	/*//*/
	-khtml-border-radius: 0.5ex;
	/*//*/
	transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	/*//*/
	-o-transition-duration: 0.5s;
	/*//*/
	-khtml-transition-duration: 0.5s;
	/*//*/
	transition-property: text-shadow;
	-moz-transition-property: text-shadow;
	/*//*/
	-o-transition-property: text-shadow;
	/*//*/
	-khtml-transition-property: text-shadow;
	box-shadow: 0.4ex 0.4ex 0.4ex #cccccc inset;
	/*//*/
	-moz-box-shadow: 0.4ex 0.4ex 0.4ex #cccccc inset;
	/*//*/
	-o-box-shadow: 0.4ex 0.4ex 0.4ex #cccccc inset;
	/*//*/
	-khtml-box-shadow: 0.4ex 0.4ex 0.4ex #cccccc inset;
}
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
button::-moz-focus-inner {
	/*border: 0 none;*/

	padding: 0;
}
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
button:hover {
	text-shadow: 0 0 1px #ffffff;
	/*//*/
	-moz-text-shadow: 0 0 1px #ffffff;
	/*//*/
	-o-text-shadow: 0 0 1px #ffffff;
	/*//*/
	-khtml-text-shadow: 0 0 1px #ffffff;
}
input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active,
button:active {
	background-color: #5d9bc4;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzNjODViNTtzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6IzdkYjFkMztzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIHN0eWxlPSJmaWxsOnVybCgjZykiLz48L3N2Zz4=");
	/* IE 9 (SVG version) */

	background-image: -moz-linear-gradient(top, #3c85b5, #7db1d3);
	/* FF3.6+ */

	/*//*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3c85b5), to(#7db1d3));
	/* Chrome,Safari4+ */

	/*//*/
	background-image: -webkit-linear-gradient(top, #3c85b5, #7db1d3);
	/* Chrome10+,Safari5.1+ */

	/*//*/
	background-image: -o-linear-gradient(top, #3c85b5, #7db1d3);
	/* Opera11.10+ */

	/*//*/
	background-image: -ms-linear-gradient(top, #3c85b5, #7db1d3);
	/* IE10+ */

	/*//*/
	background-image: linear-gradient(top, #3c85b5, #7db1d3);
	/* W3C */

	color: #eee;
	box-shadow: 0 0 0 transparent, 0.4ex 0.4ex 0.4ex #0066cc inset;
	/*//*/
	-moz-box-shadow: 0 0 0 transparent, 0.4ex 0.4ex 0.4ex #0066cc inset;
	/*//*/
	-o-box-shadow: 0 0 0 transparent, 0.4ex 0.4ex 0.4ex #0066cc inset;
	/*//*/
	-khtml-box-shadow: 0 0 0 transparent, 0.4ex 0.4ex 0.4ex #0066cc inset;
}
/***** SPACIAL *****/
span.vertiAligner {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
/***** USER ERRORS *****/
div.error {
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
	z-index: 9999;
}
div.error a {
	background-color: red;
	color: black;
	padding: 0.5ex;
}
/***** HTML5 PLACEHOLDER *****/
.text-placeholder {
	color: #aaaaaa !important;
}
/*********** DATE FIELDS ***********/
/* For the details, see: http://flowplayer.org/tools/dateinput/index.html#skinning */
/* the input field */
input.date {
	text-align: center;
}
/* calendar root element */
#calroot {
	/* place on top of other elements. set a higher value if nessessary */

	z-index: 10000;
	margin-top: -1px;
	padding: 0.5ex;
	background-color: #fff;
	border: 1px solid #ccc;
	width: 32.666ex;
	/* fix width if the calendar is overflow on the right */

	border-radius: 1ex;
	/*//*/
	-moz-border-radius: 1ex;
	/*//*/
	-o-border-radius: 1ex;
	/*//*/
	-khtml-border-radius: 1ex;
	box-shadow: 0 0 2.5ex #666666;
	/*//*/
	-moz-box-shadow: 0 0 2.5ex #666666;
	/*//*/
	-o-box-shadow: 0 0 2.5ex #666666;
	/*//*/
	-khtml-box-shadow: 0 0 2.5ex #666666;
}
/* head. contains title, prev/next month controls and possible month/year selectors */
#calhead {
	padding: 0.3ex 0;
	height: 3.5ex;
}
#caltitle {
	font-size: 127%;
	color: #0150D1;
	float: left;
	text-align: center;
	width: 100%;
	text-shadow: 0 1px 0 #dddddd;
	/*//*/
	-moz-text-shadow: 0 1px 0 #dddddd;
	/*//*/
	-o-text-shadow: 0 1px 0 #dddddd;
	/*//*/
	-khtml-text-shadow: 0 1px 0 #dddddd;
}
#calnext, #calprev {
	display: block;
	width: 20px;
	height: 20px;
	background: transparent url("../img/prev.gif") no-repeat scroll center center;
	cursor: pointer;
	position: absolute;
}
#calprev {
	left: 0.5ex;
}
#calnext {
	background-image: url("../img/next.gif");
	right: 0.5ex;
}
#calprev.caldisabled, #calnext.caldisabled {
	visibility: hidden;
}
/* year/month selector */
#caltitle select {
	font-size: 90%;
}
/* names of the days */
#caldays {
	height: 2.4ex;
	border-bottom: 1px solid #ddd;
}
#caldays span {
	display: block;
	float: left;
	width: 4.666ex;
	/*28px*/

	text-align: center;
}
/* container for weeks */
#calweeks {
	background-color: #fff;
	margin-top: 0.4ex;
}
/* single week */
.calweek {
	height: 3.666ex;
}
/* single day */
.calweek a {
	display: block;
	float: left;
	width: 4.5ex;
	text-decoration: none;
	margin-left: 0.166ex;
	text-align: center;
	line-height: 3.3ex;
	color: #666;
	border-radius: 0.5ex;
	/*//*/
	-moz-border-radius: 0.5ex;
	/*//*/
	-o-border-radius: 0.5ex;
	/*//*/
	-khtml-border-radius: 0.5ex;
}
/* different states */
.calweek a:hover, .calfocus {
	background-color: #ddd;
}
/* sunday */
a.calsun {
	color: red;
}
/* offmonth day */
a.caloff {
	color: #ccc;
}
a.caloff:hover {
	background-color: #f5f5fa;
}
/* unselecteble day */
a.caldisabled {
	background-color: #efefef !important;
	color: #ccc	!important;
	cursor: default;
}
/* current day */
#calcurrent {
	background-color: #498CE2;
	color: #fff;
}
/* today */
#caltoday {
	background-color: #333;
	color: #fff;
}
/*********** END DATE FIELDS ***********/
