
.ui-icon-myEurope {
	background-image: url("../img/myEurope.png");
}

.ui-controlgroup-last {
	vertical-align: top;
}

.ui-li-link-alt .ui-btn {
	margin-top: -14px;
}

.ui-li {
	padding-top: 1px;
	padding-bottom: 1px;
}

#results .ui-slider-switch {
	min-width: 47%;
}

.ui-slider-switch {
	min-width: 100px;
}

.mySlider .ui-slider-switch {
	min-width: 350px;
}

@media all and (min-width: 450px){
	.myCheck {width: 78%;}
}

.compact label.ui-input-text, .compact input.ui-input-text, .compact textarea.ui-input-text {
	margin: 0;
}

/*.ui-focus,
.ui-btn:focus {
	-moz-box-shadow: inset 0px 0px 0px 		#387bbe , 0px 0px 0px 	#387bbe ;
	-webkit-box-shadow: inset 0px 0px 0px 	#387bbe , 0px 0px 0px 	#387bbe ;
	box-shadow: inset 0px 0px 0px 			#387bbe , 0px 0px 0px 	#387bbe ;
}*/

/*
.ui-body-d,
.ui-overlay-d {
	border: 1px solid 		#d7e9ef ;
	color: 					#222222 ;
	text-shadow: 0  1px  0  #fff ;
	background: 			#fff ;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fcfcff ), to( #f5f5f9 )); 
	background-image: -webkit-linear-gradient( #fcfcff , #f5f5f9 ); 
	background-image:     -ms-linear-gradient( #fcfcff , #f5f5f9 ); 
	background-image:      -o-linear-gradient( #fcfcff , #f5f5f9 ); 
	background-image:         linear-gradient( #fcfcff , #f5f5f9 );
}
*/

/*.ui-btn-active {
	border: 1px solid 		#ccc ;
	background: 			#eee ;
	font-weight: bold;
	color: 					#222 ;
	cursor: pointer;
	text-shadow: 0  1px  0  #ffffff ;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #eefbff), to( #deebf1 ));
	background-image: -webkit-linear-gradient( #eefbff , #deebf1 );
	background-image:    -moz-linear-gradient( #eefbff , #deebf1 );
	background-image:     -ms-linear-gradient( #eefbff , #deebf1 );
	background-image:      -o-linear-gradient( #eefbff , #deebf1 );
	background-image:         linear-gradient( #eefbff , #deebf1 );
	font-family: Helvetica, Arial, sans-serif ;
}

.ui-btn-active a.ui-link-inherit {
	color: 					#2F3E46 ;
}*/

.ui-bar-b {
	border: none;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif ;
}



