
.ui-icon-myEurope {
	background-image: url("../img/myEurope.png");
}

.ui-icon-up {
	background-image: url("../img/up.png");
}

.ui-icon-down {
	background-image: url("../img/down.png");
}

.ui-controlgroup-last {
	vertical-align: top;
}

.ui-li-link-alt .ui-btn {
	margin-top: -14px;
}

.ui-li {
	padding-top: 1px;
	padding-bottom: 1px;
}

.ui-icon-down{
	background-color: #eee;
}

.ui-icon-up{
	background-color: #eee;
}

.ui-li-desc {
	white-space: normal;
	font-size: 14px;
	clear: both;
	margin-top: 0;
	margin-bottom: .1em;
}

.ui-li-aside{
	width: 30%;
}

.label {
	color: #777;
	font-style: italic;
}

/*#results .ui-slider-switch {
	min-width: 47%;
	margin-bottom: 10px;
}*/

.ui-slider-switch {
	min-width: 120px;
}

.blog .ui-li-heading{
	margin-top: 0;
	margin-bottom: 1em;
}


#profile .ui-slider-switch {
	
}

.myLogos{
	text-align: center;
	margin-left:-40px;
}
.myLogos img{
	max-height:60px;
	max-width:110px;
	vertical-align: middle;
}
.myLogos img:first-child{
	margin-right: 10px;
}

@media all and (max-width: 480px){
	 .myLogos img:first-child{ zoom: 90%; }
}

@media all and (min-width: 450px){
	.myCheck {width: 78%;}
}

.compact label.ui-input-text, .compact input.ui-input-text, .compact textarea.ui-input-text {
	margin: 0;
}

.wrap span {
	white-space: normal;
}

.ui-btn-up-e:visited, .ui-btn-up-e a.ui-link-inherit {
	color: #333 /*{e-bup-color}*/;
}

.ui-btn-active {
	border: 1px solid 		#2373a5 /*{global-active-border}*/;
	background: 			#60a3d7 /*{global-active-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{global-active-color}*/;
	cursor: pointer;
	text-shadow: 0 /*{global-active-shadow-x}*/ 1px /*{global-active-shadow-y}*/ 1px /*{global-active-shadow-radius}*/ #3373a5 /*{global-active-shadow-color}*/;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #60a3d7 /*{global-active-background-start}*/), to( #7abce7 /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #60a3d7 /*{global-active-background-start}*/, #7abce7 /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #60a3d7 /*{global-active-background-start}*/, #7abce7 /*{global-active-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #60a3d7 /*{global-active-background-start}*/, #7abce7 /*{global-active-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #60a3d7 /*{global-active-background-start}*/, #7abce7 /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #5393c5 /*{global-active-background-start}*/, #6facd5 /*{global-active-background-end}*/);
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

