
.ui-controlgroup-last {
	vertical-align: top;
}

.ui-li-link-alt .ui-btn {
	margin-top: -14px;
}

.ui-li {
	padding-top: 1px;
	padding-bottom: 1px;
}

.ui-li-desc {
	white-space: normal;
	font-size: 14px;
	clear: both;
	margin-top: 0;
	margin-bottom: .1em;
}

.ui-li-aside{
	width: 30%;
}

.label {
	color: #777;
	font-style: italic;
}

.ui-slider-switch {
	min-width: 120px;
}

.blog .ui-li-heading{
	margin-top: 0;
	margin-bottom: 1em;
}

.comment{
	text-align:right;
}

#profile .ui-slider-switch {
	
}

#spacer{
	height: 100px;
}

.logos{
	margin: 15px 15px 55px;
	border-top:1px solid transparent;
	width: 97%;
	opacity:0.7;
	position: fixed;
	bottom: 0;
	/*right: 10px;*/
}

.logos > img{
	margin: 10px 10%;
	vertical-align: middle;
}

@media all and (max-width: 600px){
	 .logos > img {margin: 5px 10px;}
	 .logos {position: relative;textalign:center;}
	 #spacer {height: 0;}
}

.social {
	cursor: pointer;
	text-indent: -9999em;
	font-size: 1px;
	display: inline-block;
	margin: 0 auto;
	overflow: hidden;
	margin-right: 3px;
	width: 32px;
	height: 32px;
	background-image: url('/system/img/footer-sprite2.png');
	background-repeat: no-repeat;
}

.vote-up-off,.vote-up-on,.vote-down-off,.vote-down-on, .delete-icon {
	cursor: pointer;
	text-indent: -9999em;
	font-size: 1px;
	display: block;
	margin: 0 auto;
	width: 17px;
	height: 18px;
	background-image: url('/system/img/sprites.png');
	background-repeat: no-repeat;
	overflow: hidden;
}
.inline{
	display: inline-block;
	vertical-align: middle;
}
.vote-up-off{
	background-position: 0px -32px;
}
.vote-up-off:hover, .vote-up-on{
	background-position: 0px -2px;
}
.vote-down-off{
	background-position: 0px -14px;
}
.vote-down-off:hover, .vote-down-on{
	background-position: 0px -44px;
}

.delete-icon{
	background-position: 0px -77px;
	display: inline-block;
	vertical-align: text-top;
}
.delete-icon:hover{
	background-position: 0px -60px;
}


/*@media all and (min-width: 450px){
	.myCheck {width: 78%;}
}*/

/*label.ui-input-text{
	margin-bottom: -.6em;
}*/
.rate {
	width: 32px;
	position: absolute;
	right: 15px;
	top: .7em;
}

.wrap span {
	white-space: normal;
}

.ui-collapsible-set{
	margin: 0
}

.ui-btn-up-e:visited, .ui-btn-up-e a.ui-link-inherit {
	color: #333 /*{e-bup-color}*/;
}


